In [15]:
import pandas as pd
import numpy as np
import networkx as nx
from pyhive import hive
import pydoop.hdfs as hdfs
from pyhive import hive
from impala.dbapi import connect
from impala.util import as_pandas

In [69]:
# Establishing the connection with Hive
host_name = "10.107.6.14"
port = 10000
user = "hdfs"
password = "bigid#01"
database="cx_test_ro_data"
conn = hive.Connection(host=host_name, port=port, username=user, password=password,
                           database=database, auth='CUSTOM')
cursor_1 = conn.cursor()

In [17]:
cursor_1.execute('select * from referral_count')
referral_count = as_pandas(cursor_1)

In [18]:
referral_count.shape

(585448, 2)

In [21]:
referral_count.head(4)

            refl_vin  refrl_count
0  ...........544489            2
1  ...........566698            2
2  ..........E233621            2
3  .........YG695444            2

In [20]:
referral_count.rename(columns = {'_c1':'refrl_count'}, inplace=True)

In [25]:
# Reading the customer file 
cust_del_sat = pd.read_csv("cust_entire_details.csv")

/usr/local/src/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,7,9,13,15,25,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
# Removing unnecessary columns
cust_del_sat.drop("Unnamed: 0", axis = 1, inplace = True)

In [28]:
print(cust_del_sat.shape)
cust_del_sat.head(3)

(1137734, 47)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Region,Zone,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,repm_vin,total_bill,RO_visit_count
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,N2,NaN,EON,JDP,2016,Satisfied,JDP,MALA151ALEM335998,4735.98,4
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,C3,NaN,EON,JDP,2016,Satisfied,JDP,MALA151ALFM369430,1613.51,4
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,S2,NaN,EON,JDP,2016,Delight,JDP,MALA251ALEM271762,31190.87,6

In [29]:
merged_df1 = pd.merge(cust_del_sat, referral_count[["refl_vin","refrl_count"]], left_on = "VIN Number", right_on = 'refl_vin')
merged_df1

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,repm_vin,total_bill,RO_visit_count,refl_vin,refrl_count
0,MALA351FLEM293041,EON,41848,S5208,42339,23167,NaN,PRAVEEN BABU,9246617786,R201517557,...,EON,JDP,2016,Delight,JDP,MALA351FLEM293041,110241.88,12,MALA351FLEM293041,2
1,MALA851DLEM106564,GRAND i10 (D),41819,N2230,42339,39957,NaN,FGIICL C O SATDEV,9999021688,R201502697,...,GRAND i10 (D),JDP,2016,Delight,JDP,MALA851DLEM106564,134885.01,32,MALA851DLEM106564,4
2,MALBM51RLFM060341,Elite i20 (1.4D),42045,N3425,42339,20357,NaN,HARISH KUMAR SHAH,9793035418,R201504871,...,Elite i20 (1.4D),JDP,2016,Delight,JDP,MALBM51RLFM060341,173385.82,20,MALBM51RLFM060341,2
3,MALBM51RLFM086188,Elite i20 (1.4D),42088,N6225,42339,8745,NaN,TAJINDERPAL,8054008700,R201508075,...,Elite i20 (1.4D),JDP,2016,Delight,JDP,MALBM51RLFM086188,145864.58,43,MALBM51RLFM086188,2
4,MALC381UMFM017536,CRETA (D),42216,E7405,42339,10130,NaN,BAMADEB ROUTRAY,7205471837,R201505565,...,CRETA (D),JDP,2016,Delight,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
5,MALC381UMFM017536,Creta,42216.0,E7405,NaN,NaN,NaN,BAMADEB ROUTRAY,9439431416,NaN,...,Creta,JDP,2017,Delight,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
6,MALC381UMFM017536,Creta,42216.0,E7405,NaN,NaN,NaN,BAMADEB ROUTRAY,9439431416,NaN,...,Creta,JDP,2017,Delight,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
7,MALC381UMFM017536,Creta,42216,E7405,NaN,NaN,NaN,BAMADEB ROUTRAY,9439431416,R201800572,...,Creta,JDP,2018,Delight,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
8,MALC381UMFM017536,Creta,NaN,E7405,43527.740625,NaN,NaN,BAMADEB ROUTRAY,NaN,R201901475,...,Creta,Non-JDP,2019,Satisfied,Non JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
9,MALC381UMFM017536,Creta,NaN,E7405,43618.80287037037,NaN,NaN,BAMADEB ROUTRAY,NaN,R201903625,...,Creta,JDP,2019,Satisfied,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
10,MALC381UMFM017536,CRETA (D),2015-07-31 00:00:00,E7405,2020-07-30 00:00:00,NaN,NaN,BAMADEB ROUTRAY,NaN,R202002964,...,Creta,Top 40 City,2020,Delight,JDP,MALC381UMFM017536,3128170.29,301,MALC381UMFM017536,2
11,MALA841CLEM068113,Xcent (P),42156,N4209,42340,9949,NaN,RITU PANKAJ,9462317723,R201509244,...,Xcent (P),JDP,2016,Delight,JDP,MALA841CLEM068113,599805.24,80,MALA841CLEM068113,12
12,MALA841CLEM068113,Xcent (P),NaN,N4209,NaN,NaN,NaN,RITU PANKAJ,9784597080,NaN,...,Xcent (P),JDP,2017,Delight,JDP,MALA841CLEM068113,599805.24,80,MALA841CLEM068113,12
13,MALA841CLEM068113,NaN,NaN,N4209,NaN,NaN,NaN,RITU PANKAJ,9784597080,NaN,...,NaN,JDP,2017,Delight,JDP,MALA841CLEM068113,599805.24,80,MALA841CLEM068113,12
14,MALA841CLEM068113,Xcent (P),NaN,N4209,NaN,NaN,NaN,RITU PANKAJ,9784597080,NaN,...,Xcent (P),JDP,2017,Delight,JDP,MALA841CLEM068113,599805.24,80,MALA841CLEM068113,12
15,MALA841CLEM073008,Xcent (P),42007,W2201,42340,2198,NaN,SATYAMURTY KANNAN,7507779496,R201516565,...,Xcent (P),JDP,2016,Delight,JDP,MALA841CLEM073008,47340.00,9,MALA841CLEM073008,2
16,MALA851CLEM114026,GRAND i10 (P),41829,S5426,42340,10975,NaN,KASALANATI PRABHAKAR,9502751520,R201510915,...,GRAND i10 (P),JDP,2016,Satisfied,JDP,MALA851CLEM114026,79041.09,10,MALA851CLEM114026,6
17,MALAM51BLEM603787,i10,42046,S5407,42340,7558,NaN,GUDIPALLI VISHNU CHARAN,8019161654,R201515594,...,i10,JDP,2016,Satisfied,JDP,MALAM51BLEM603787,28143.88,7,MALAM51BLEM603787,2
18,MALBM51BLEM045590,Elite i20 (1.2P),42007,W1412,42340,9696,NaN,NIDHI GUPTA,8454041095,R201507450,...,Elite i20 (1.2P),JDP,2016,Delight,JDP,MALBM51BLEM045590,63392.27,9,MALBM51BLEM045590,1
19,MALBM51RLFM087118,Elite i20 (1.4D),42090,N6200,42340,8838,NaN,SANJAY JAIN,9872800231,R201509339,...,Elite i20 (1.4D),JDP,2016,Delight,JDP,MALBM51RLFM087118,351762.16,30,MALBM51RLFM087118,1
20,MALBM51RLFM087118,Elite i20 (1.4D),42090,N6200,42458,15360,NaN,SANJAY JAIN,9855845912,R201602218,...,Elite i20 (1.4D),JDP,2016,Delight,JDP,MALBM51RLFM087118,351762.16,30,MALBM51RLFM087118,1
21,MALC381ULFM019466,CRETA (D),42226,S5427,42340,9546,NaN,PALLELA INNASAMMA,8008812345,R201510579,...,CRETA (D),JDP,2016,Satisfied,JDP,MALC381ULFM019466,631445.20,80,MALC381ULFM019466,4
22,MALC381ULFM019466,CRETA (D),NaN,S5427,NaN,NaN,NaN,CHINNA,8008812345,NaN,...,CRETA (D),JDP,2017,Satisfied,JDP,MALC381ULFM019466,631445.20,80,MALC381ULFM019466,4
23,MALC381ULFM019466,CRETA (D),NaN,S5427,NaN,NaN,NaN,CHINNA,8008812345,NaN,...,CRETA (D),JDP,2017,Satisfied,JDP,MALC381ULFM019466,631445.20,80,MALC381ULFM019466,4
24,MALC381ULFM019466,CRETA (D),NaN,S5427,NaN,NaN,NaN,CHINNA,8008812345,NaN,...,CRETA (D),JDP,2017,Satisfied,JDP,MALC381ULFM019466,631445.20,80,MALC381ULFM019466,4
25,MALA851CLFM253863,GRAND i10 (P),42122,N1426,42341,5273,NaN,NAVEEN KUMAR LAL,9810630691,R201506894,...,GRAND i10 (P),JDP,2016,Satisfied,JDP,MALA851CLFM253863,125264.22,16,MALA851CLFM253863,4
26,MALA851CLFM253863,GRAND i10 (P),42122,N1222,42582,10588,NaN,NAVEEN KUMAR LAL,9810630691,R201601607,...,GRAND i10 (P),JDP,2016,Satisfied,JDP,MALA851CLFM253863,125264.22,16,MALA851CLFM253863,4
27,MALBB51BLEM658398,i20,41820,N3234,42341,11580,NaN,VIMAL KUMAR SETH,9369371718,R201513793,...,i20,JDP,2016,Delight,JDP,MALBB51BLEM658398,93906.88,13,MALBB51BLEM658398,2
28,MALCU41DLEM178097,NEW VERNA,41943,W1409,42341,2917,NaN,BHAGWAT SINH MURDIA,9820126260,R201509018,...,NEW VERNA,JDP,2016,Satisfied,JDP,MALCU41DLEM178097,21674.99,11,MALCU41DLEM178097,2
29,MALCU41ULEM161235,NEW VERNA,41786,S5422,42341,40676,NaN,SHAIK MAHBOOB BIN HASAN,9550850600,R201506700,...,NEW VERNA,JDP,2016,Delight,JDP,MALCU41ULEM161235,346293.28,34,MALCU41ULEM161235,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196573,MALCU41ULFM195455,NEW VERNA,2015-04-17 00:00:00,N2220,2020-06-13 00:00:00,NaN,NaN,VIVEK S/O SH. SUBHRAM,NaN,R202003386,...,New Verna,Emerging City,2020,Satisfied,JDP,MALCU41ULFM195455,218461.95,27,MALCU41ULFM195455,2
196574,MALCU41UMEM169462,NEW VERNA,2014-05-28 00:00:00,N2225,2020-06-13 00:00:00,NaN,NaN,MOLI CERAMICS P LTD,NaN,R202004689,...,New Verna,Top 40 City,2020,Satisfied,JDP,MALCU41UMEM169462,251081.76,24,MALCU41UMEM169462,4
196575,MALBM51BLFM101288,Elite i20 (1.2P),2015-05-30 00:00:00,N3428,2020-06-14 00:00:00,NaN,NaN,VISHNU AGRAWAL,NaN,R202001484,...,Elite i20,Top 40 City,2020,Satisfied,JDP,MALBM51BLFM101288,60492.33,11,MALBM51BLFM101288,2
196576,MALC841CLJM065550,Next Gen VERNA (1.6P),2018-06-18 00:00:00,W3403,2020-06-13 00:00:00,NaN,NaN,SHARAD CHIMANLAL PATEL,NaN,R202004543,...,Next Gen Verna,Top 40 City,2020,Satisfied,JDP,MALC841CLJM065550,2484.71,5,MALC841CLJM065550,6
196577,MALBM51BLFM075177,Elite i20 (1.2P),2015-03-29 00:00:00,N3249,2020-06-15 00:00:00,NaN,NaN,BALBIR SINGH RANGAR,NaN,R202003906,...,Elite i20,Top 40 City,2020,Satisfied,JDP,MALBM51BLFM075177,73013.76,9,MALBM51BLFM075177,4
196578,MALBM51RLJM503400,Elite i20 (1.4D),2018-03-12 00:00:00,N5203,2020-06-13 00:00:00,NaN,NaN,NIYAMAT BIBI,NaN,R202005133,...,Elite i20,Emerging City,2020,Delight,JDP,MALBM51RLJM503400,40839.20,9,MALBM51RLJM503400,1
196579,MALC281RLJM435572,CRETA (D),2018-07-12 00:00:00,N3258,2020-06-13 00:00:00,NaN,NaN,GIRISH NARAIN SINGH,NaN,R202002648,...,Creta,Emerging City,2020,Satisfied,JDP,MALC281RLJM435572,11694.14,5,MALC281RLJM435572,2
196580,MALA741CLJM318125,Xcent (P),2018-05-22 00:00:00,W3201,2020-06-15 00:00:00,NaN,NaN,NIRMALSINH BHARATSINH JADEJA,NaN,R202005131,...,Xcent,Top 40 City,2020,Delight,JDP,MALA741CLJM318125,0.00,4,MALA741CLJM318125,3
196581,MALFC81ALLM089546,Venue (1.0) P,2020-03-05 00:00:00,E5223,2020-06-04 00:00:00,NaN,NaN,RAMA SHANKAR SINGH,NaN,R202001773,...,Venue,Emerging City,2020,Delight,JDP,MALFC81ALLM089546,10400.43,4,MALFC81ALLM089546,1
196582,MALC181CLHM231360,CRETA (P),2017-03-22 00:00:00,W6200,2020-06-03 00:00:00,NaN,NaN,PREMA LACERDA,NaN,R202004830,...,Creta,Top 40 City,2020,Delight,JDP,MALC181CLHM231360,18379.27,8,MALC181CLHM231360,2
196583,MALA741CLFM116683,Xcent (P),2015-11-30 00:00:00,W5209,2020-06-03 00:00:00,NaN,NaN,JITENDRA KUMAR VERMA,NaN,R202003869,...,Xcent,Emerging City,2020,Satisfied,JDP,MALA741CLFM116683,83907.50,10,MALA741CLFM116683,2
196584,MALB551CLKM020730,Grand i10 NIOS (1.2 P),2019-11-26 00:00:00,E5223,2020-06-01 00:00:00,NaN,NaN,ANJANI KUMAR,NaN,R202001715,...,Grand i10,Emerging City,2020,Delight,JDP,MALB551CLKM020730,2884.66,4,MALB551CLKM020730,1
196585,MALA851CLHM737460,GRAND i10 (P),2017-11-22 00:00:00,W5209,2020-06-02 00:00:00,NaN,NaN,ARUN KUMAR SHARMA .,NaN,R202003806,...,Grand i10,Emerging City,2020,Satisfied,JDP,MALA851CLHM737460,41655.00,7,MALA851CLHM737460,5
196586,MALC181RLKM579973,CRETA (D),2019-06-28 00:00:00,W3610,2020-06-15 00:00:00,NaN,NaN,AL FAHAD MEMON,NaN,R202002261,...,Creta,Top 40 City,2020,Satisfied,JDP,MALC181RLKM579973,6469.48,4,MALC181RLKM579973,3
196587,MALBM51BLJM561391,i20 Active(1.2P),2018-06-20 00:00:00,N3249,2020-06-15 00:00:00,NaN,NaN,AMRIT LAL BIJALWAN,NaN,R202003894,...,i20 Active,Top 40 City,2020,Delight,JDP,MALBM51BLJM561391,128503.91,5,MALBM51BLJM561391,1
196588,MALBM51BLKM730832,Elite i20 (1.2P),2019-08-15 00:00:00,W3414,2020-06-15 00:00:00,NaN,NaN,PATEL NILESHBHAI,NaN,R202001104,...,Elite i20,Emerging City,2020,Delight,JDP,MALBM51BLKM730832,5313.75,6,MALBM51BLKM730832,1
196589,MALA851CLKM013338,GRAND i10 (P),2019-06-14 00:00:00,N2208,2020-06-13 00:00:00,NaN,NaN,ANJU AGGARWAL,NaN,R202002210,...,Grand i10,Top 40 City,2020,Delight,JDP,MALA851CLKM013338,2791.57,3,MALA851CLKM013338,1
196590,MALBM51BLEM017520,Elite i20 (1.2P),2014-09-07 00:00:00,W1210,2020-06-15 00:00:00,NaN,NaN,SHYAMALA VAIJANATH BHOIR,NaN,R202002667,...,Elite i20,Top 40 City,2020,Satisfied,JDP,MALBM51BLEM017520,49245.99,15,MALBM51BLEM017520,1
196591,MALBM51BLKM668853,Elite i20 (1.2P),2019-08-30 00:00:00,N1445,2020-06-14 00:00:00,NaN,NaN,ADITYA KUMAR,NaN,R202001775,...,Elite i20,Top 40 City,2020,Delight,JDP,MALBM51BLKM668853,49703.47,7,MALBM51BLKM668853,2
196592,MALBM51BLKM702128,Elite i20 (1.2P),2019-06-29 00:00:00,N2230,2020-06-15 00:00:00,NaN,NaN,VIRENDER,NaN,R202003217,...,Elite i20,Top 40 City,2020,Delight,JDP,MALBM51BLKM702128,25489.48,6,MALBM51BLKM702128,1
196593,MALBM51BLKM684067,Elite i20 (1.2P),2019-04-13 00:00:00,W3208,2020-06-14 00:00:00,NaN,NaN,JAYESH CHAUDHARI,NaN,R202004694,...,Elite i20,Emerging City,2020,Delight,JDP,MALBM51BLKM684067,60124.27,14,MALBM51BLKM684067,4
196594,MALA251ALEM323032,EON,2014-09-24 00:00:00,E6404,2020-06-15 00:00:00,NaN,NaN,RUBY PRASAD,NaN,R202001733,...,EON,Top 40 City,2020,Satisfied,JDP,MALA251ALEM323032,47060.12,13,MALA251ALEM323032,1
196595,MALA851CLKM998313,GRAND i10 (P),2019-06-29 00:00:00,W3239,2020-06-15 00:00:00,NaN,NaN,INDRAJITSINH GUMANSINH GOHIL,NaN,R202003464,...,Grand i10,Emerging City,2020,Delight,JDP,MALA851CLKM998313,9719.80,4,MALA851CLKM998313,2
196596,MALB351CLKM040394,Grand i10 NIOS (1.2 P),2020-01-27 00:00:00,N4211,2020-06-15 00:00:00,NaN,NaN,BHAVIKA JAIN,NaN,R202002694,...,Grand i10,Emerging City,2020,Delight,JDP,MALB351CLKM040394,0.00,2,MALB351CLKM040394,1
196597,MALAN51CLDM391802,i10,2013-05-13 00:00:00,N3249,2020-06-15 00:00:00,NaN,NaN,CAPT SHIV PRASAD KALA,NaN,R202003890,...,i10,Top 40 City,2020,Satisfied,JDP,MALAN51CLDM391802,98128.67,15,MALAN51CLDM391802,2
196598,MALA851CLJM847017,GRAND i10 (P),2018-06-22 00:00:00,N3247,2020-06-15 00:00:00,NaN,NaN,REENA JAISWAL,NaN,R202002468,...,Grand i10,Emerging City,2020,Delight,JDP,MALA851CLJM847017,3762.25,3,MALA851CLJM847017,2
196599,MALA851CLHM634351,GRAND i10 (P),2017-06-26 00:00:00,W3239,2020-06-15 00:00:00,NaN,NaN,SANDHYABEN SHARADBHAI VORA,NaN,R202003457,...,Grand i10,Emerging City,2020,Satisfied,JDP,MALA851CLHM634351,14682.86,5,MALA851CLHM634351,1
196600,MALC841CLHM018017,Next Gen VERNA (1.6P),2017-11-22 00:00:00,W1212,2020-06-12 00:00:00,NaN,NaN,DIKSHA DWIVEDI,NaN,R202006335,...,Next Gen Verna,Top 40 City,2020,Delight,JDP,MALC841CLHM018017,126678.84,15,MALC841CLHM018017,2
196601,MALA851CLKM016834,GRAND i10 (P),2019-08-12 00:00:00,W3239,2020-06-15 00:00:00,NaN,NaN,KISHORKUMAR PRABHAKARBHAI DODIYA,NaN,R202003448,...,Grand i10,Emerging City,2020,Delight,JDP,MALA851CLKM016834,52923.29,5,MALA851CLKM016834,5
196602,MALFC81CLLM083553,Venue (1.4) D,2020-03-11 00:00:00,W2249,2020-06-13 00:00:00,NaN,NaN,CHOTU DEVRAM PATIL,NaN,R202001660,...,Venue,Emerging City,2020,Satisfied,JDP,MALFC81CLLM083553,7966.24,3,MALFC81CLLM083553,1

In [34]:
merged_df1.shape

(196603, 49)

In [31]:
merged_df2 = pd.merge(cust_del_sat, referral_count[["refl_vin","refrl_count"]], how = 'left', left_on = "VIN Number", right_on = 'refl_vin')
merged_df2.shape

(1137734, 49)

In [32]:
merged_df2.head(4)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,repm_vin,total_bill,RO_visit_count,refl_vin,refrl_count
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,EON,JDP,2016,Satisfied,JDP,MALA151ALEM335998,4735.98,4,NaN,NaN
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,EON,JDP,2016,Satisfied,JDP,MALA151ALFM369430,1613.51,4,NaN,NaN
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,EON,JDP,2016,Delight,JDP,MALA251ALEM271762,31190.87,6,NaN,NaN
3,MALA251ALEM298633,EON,41820,S7202,42339,32832,NaN,HASHIM T H,9037279323,R201506846,...,EON,JDP,2016,Delight,JDP,MALA251ALEM298633,20076.43,11,NaN,NaN

In [37]:
merged_df2.columns.tolist()

['VIN Number',
 'Model Name',
 'Sale Date',
 'Service Dealer',
 'Ro Date',
 'Max Milg',
 'VISIT CNT',
 'Customer Name',
 'Latest Mobile Number',
 'Ro Number',
 'Work Type',
 'Closer Date',
 'City Name',
 'State',
 'Pin Code',
 'Dealer Name',
 'Dealer Code',
 'availed_Pick_Drop_Facility',
 'Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'For 1~8 Rating VOC',
 'Q15',
 'Overall Remarks',
 'Customer Comment',
 'Complaint',
 'Survey Disposition',
 'Campaign',
 'Service Advisor',
 '1-8 Rating',
 'Delight',
 'Dealer Name.1',
 'Top / Emerge',
 'City',
 'Region',
 'Zone',
 'Model Name.1',
 'JDP/NonJDP',
 'Year',
 'customer_category',
 'JDP_or_NonJDP',
 'repm_vin',
 'total_bill',
 'RO_visit_count',
 'refl_vin',
 'refrl_count']

In [38]:
merged_df2.drop(['repm_vin', 'refl_vin'], axis = 1, inplace = True)

In [40]:
merged_df2.shape

(1137734, 47)

In [41]:
merged_df2.to_csv('cust_refrl_count.csv', encoding = 'utf-8')

In [45]:
cursor_1.execute('select * from retail_count')
retail_count = as_pandas(cursor_1)

In [52]:
print(retail_count.shape)
retail_count.head(3)

(136270, 2)

            refl_vin  Total_retail_count
0  00000000000000132                   1
1  00000000000000926                   1
2  00000000000002016                   1

In [49]:
retail_count.rename(columns = {'_c1':'Total_retail_count'}, inplace=True)

In [53]:
final_df = pd.merge(merged_df2, retail_count[['refl_vin', 'Total_retail_count']], how = 'left', left_on = "VIN Number", right_on = 'refl_vin')
final_df.shape

(1137734, 49)

In [54]:
final_df.head(3)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,refl_vin,Total_retail_count
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,EON,JDP,2016,Satisfied,JDP,4735.98,4,NaN,NaN,NaN
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,EON,JDP,2016,Satisfied,JDP,1613.51,4,NaN,NaN,NaN
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,EON,JDP,2016,Delight,JDP,31190.87,6,NaN,NaN,NaN

In [55]:
# Final data frame with all the columns
final_df.to_csv('final_df.csv', encoding = 'utf-8')

In [59]:
final_df[final_df['refrl_count'] == 528.0]

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,refl_vin,Total_retail_count
670332,MALJ381AMGM010077,Tucson,NaN,N2219,NaN,NaN,NaN,SAMRITHI MOTORS PVT LTDD,9.215e+09,NaN,...,Tucson,Non JDP,2017,Delight,Non JDP,61019.28,12,528.0,MALJ381AMGM010077,36.0

In [62]:
#final_df['Total_retail_count'].value_counts()

final_df[final_df['Total_retail_count'] >= 100].shape

(33, 49)

In [66]:
final_df[final_df['refrl_count'] >= 100].shape

(238, 49)

In [68]:
final_df[final_df['refrl_count'] >= 300]

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Model Name.1,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,refl_vin,Total_retail_count
37799,MALA841DLEM051746,Xcent (D),41973,N3217,42377,19910,NaN,Florence Ephraim,9.9199e+09,R201600129,...,Xcent (D),Non JDP,2016,Delight,Non JDP,361072.36,146,606.0,MALA841DLEM051746,122.0
37800,MALA841DLEM051746,Xcent,NaN,N3217,43631.754108796296,NaN,NaN,FLORENCE EPHRAIM,NaN,R201903837,...,Xcent,Non-JDP,2019,Delight,Non JDP,361072.36,146,606.0,MALA841DLEM051746,122.0
90020,MALBM51RLFM079433,i20 Active(1.4D),42153,E4200,42530,9000,NaN,FROSTEES EXPORT (INDIA) PVT.LTD.,9.86422e+09,R201604345,...,i20 Active(1.4D),JDP,2016,Delight,JDP,1140668.20,136,366.0,MALBM51RLFM079433,106.0
90021,MALBM51RLFM079433,NaN,NaN,E4200,NaN,NaN,NaN,FROSTEES EXPORT INDIA PVT.LTD.,9.86422e+09,NaN,...,NaN,JDP,2017,Satisfied,JDP,1140668.20,136,366.0,MALBM51RLFM079433,106.0
90022,MALBM51RLFM079433,i20 Active,42153,E4200,NaN,NaN,NaN,FROSTEES EXPORT INDIA PVT.LTD.,9.86422e+09,R201800347,...,i20 Active,JDP,2018,Delight,JDP,1140668.20,136,366.0,MALBM51RLFM079433,106.0
90023,MALBM51RLFM079433,i20 Active,42153.0,E4200,43524.66,NaN,NaN,FROSTEES EXPORT INDIA PVT.LTD.,NaN,R201901344,...,i20 Active,JDP,2019,Delight,JDP,1140668.20,136,366.0,MALBM51RLFM079433,106.0
103761,MALAM51BLEM592942,i10,41952,W5216,42524,11571,NaN,VINEETA CHANNY,9.82605e+09,R201601996,...,i10,Non JDP,2016,Satisfied,Non JDP,156384.54,117,1026.0,MALAM51BLEM592942,117.0
103762,MALAM51BLEM592942,i10,41952,W5216,42559,12145,NaN,VINEETA CHANNY,9.82605e+09,R201602461,...,i10,Non JDP,2016,Delight,Non JDP,156384.54,117,1026.0,MALAM51BLEM592942,117.0
103763,MALAM51BLEM592942,i10,2014-09-11 00:00:00,W5216,2020-02-07 00:00:00,NaN,NaN,VINEETA CHANNY,NaN,R202000724,...,i10,Emerging City,2020,Delight,JDP,156384.54,117,1026.0,MALAM51BLEM592942,117.0
177532,MALBM51RLFM186517,i20 Active(1.4D),42368,N3411,42623,24158,NaN,ABHISHEK MANDAL,7458023494,R201610063,...,i20 Active(1.4D),JDP,2016,Delight,JDP,251396.76,104,442.0,MALBM51RLFM186517,59.0
177533,MALBM51RLFM186517,i20 Active(1.4D),42383.0,N3411,42742,29910,1,ABHISHEK MANDAL,7458023494,R201700279,...,i20 Active(1.4D),JDP,2017,Delight,JDP,251396.76,104,442.0,MALBM51RLFM186517,59.0
177534,MALBM51RLFM186517,NaN,NaN,N3411,NaN,NaN,NaN,ABHISHEK MANDAL,7458023494,NaN,...,NaN,JDP,2017,Delight,JDP,251396.76,104,442.0,MALBM51RLFM186517,59.0
177535,MALBM51RLFM186517,i20 Active(1.4D),NaN,N3411,NaN,NaN,NaN,ABHISHEK MANDAL,7458023494,NaN,...,i20 Active(1.4D),JDP,2017,Delight,JDP,251396.76,104,442.0,MALBM51RLFM186517,59.0
256338,MALAM51BLFM611729,i10,42436.0,W3217,42725,1469,1,MAHESHBHAI KANCHANBHAI JAISAR,9428405131,R201612391,...,i10,Non JDP,2017,Delight,Non JDP,9117.60,33,962.0,MALAM51BLFM611729,31.0
256339,MALAM51BLFM611729,NaN,NaN,W3217,NaN,NaN,NaN,MAHESHBHAI KANCHANBHAI JAISAR,9428405131,NaN,...,NaN,Non JDP,2017,Delight,Non JDP,9117.60,33,962.0,MALAM51BLFM611729,31.0
256340,MALAM51BLFM611729,i10,42436.0,W3217,42725.0,1469,1,MAHESHBHAI KANCHANBHAI JAISAR,9428405131,R201612391,...,i10,Non JDP,2017,Delight,Non JDP,9117.60,33,962.0,MALAM51BLFM611729,31.0
270077,MALA851CLFM291408,GRAND i10 (P),42256.0,N4224,42743,20218,1,BHUPENDER SINGH,9996234849,R201700178,...,GRAND i10 (P),Non JDP,2017,Delight,Non JDP,3049093.48,168,1197.0,MALA851CLFM291408,5.0
270078,MALA851CLFM291408,GRAND i10 (P),42256.0,N4224,42743,20218,1,BHUPENDER SINGH,9996234849,R201700178,...,GRAND i10 (P),Non JDP,2017,Delight,Non JDP,3049093.48,168,1197.0,MALA851CLFM291408,5.0
270079,MALA851CLFM291408,Grand i10,42256.0,N2236,NaN,NaN,NaN,RAJIV KUMAR,9999116695.0,R201802051,...,Grand i10,JDP,2018,Delight,JDP,3049093.48,168,1197.0,MALA851CLFM291408,5.0
270080,MALA851CLFM291408,Grand i10,42256.0,N4224,NaN,NaN,NaN,BHUPENDER SINGH,9050222958,R201801449,...,Grand i10,Non-JDP,2018,Delight,Non JDP,3049093.48,168,1197.0,MALA851CLFM291408,5.0
280103,MALA251ALFM419289,NaN,NaN,W3217,NaN,NaN,NaN,ASHOKKUMAR KANTIBNHAI TANK,9662047281,NaN,...,NaN,Non JDP,2017,Satisfied,Non JDP,35825.16,12,707.0,MALA251ALFM419289,5.0
280104,MALA251ALFM419289,EON,NaN,W3217,NaN,NaN,NaN,ASHOKKUMAR KANTIBNHAI TANK,9662047281,NaN,...,EON,Non JDP,2017,Delight,Non JDP,35825.16,12,707.0,MALA251ALFM419289,5.0
308295,MALAL51BLFM659984,NaN,NaN,E4227,NaN,NaN,NaN,M/S SINGHI MOTORS,9957685897,NaN,...,NaN,Non JDP,2017,Satisfied,Non JDP,229369.26,87,368.0,MALAL51BLFM659984,81.0
308296,MALAL51BLFM659984,NaN,NaN,E4227,NaN,NaN,NaN,M/S SINGHI MOTORS,9957685897,NaN,...,NaN,Non JDP,2017,Delight,Non JDP,229369.26,87,368.0,MALAL51BLFM659984,81.0
308297,MALAL51BLFM659984,i10,NaN,E4227,NaN,NaN,NaN,M/S SINGHI MOTORS,9957685897,NaN,...,i10,Non JDP,2017,Delight,Non JDP,229369.26,87,368.0,MALAL51BLFM659984,81.0
350061,MALAL51BLFM662392,i10,NaN,W1218,NaN,NaN,NaN,Shreem Motors Pvt Ltd.,9.70214e+09,NaN,...,i10,JDP,2017,Delight,JDP,3608899.40,260,2091.0,MALAL51BLFM662392,107.0
350062,MALAL51BLFM662392,NaN,NaN,W1218,NaN,NaN,NaN,Shreem Motors Pvt Ltd.,9.70214e+09,NaN,...,NaN,JDP,2017,Delight,JDP,3608899.40,260,2091.0,MALAL51BLFM662392,107.0
350063,MALAL51BLFM662392,i10,NaN,W1218,NaN,NaN,NaN,Shreem Motors Pvt Ltd.,9.70214e+09,NaN,...,i10,JDP,2017,Delight,JDP,3608899.40,260,2091.0,MALAL51BLFM662392,107.0
350064,MALAL51BLFM662392,i10,NaN,W1218,NaN,NaN,NaN,Shreem Motors Pvt Ltd.,9.70214e+09,NaN,...,i10,JDP,2017,Delight,JDP,3608899.40,260,2091.0,MALAL51BLFM662392,107.0
350065,MALAL51BLFM662392,i10,42399.0,W1218,NaN,NaN,NaN,Shreem Motors Pvt Ltd.,7.04596e+09,R201807532,...,i10,JDP,2018,Satisfied,JDP,3608899.40,260,2091.0,MALAL51BLFM662392,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490284,MALA841CLFM087289,NaN,NaN,W3410,NaN,NaN,NaN,HEMAL S. SHETH,9.09944e+09,NaN,...,NaN,JDP,2017,Delight,JDP,205637.44,68,2110.0,MALA841CLFM087289,214.0
501558,MALBM51RLFM160922,NaN,NaN,W6201,NaN,NaN,NaN,PRANESH DAMODAR NAIK,8605787400,NaN,...,NaN,JDP,2017,Delight,JDP,288925.80,46,614.0,MALBM51RLFM160922,14.0
501559,MALBM51RLFM160922,NaN,NaN,W6201,NaN,NaN,NaN,PRANESH DAMODAR NAIK,8605787400,NaN,...,NaN,JDP,2017,Delight,JDP,288925.80,46,614.0,MALBM51RLFM160922,14.0
524903,MALC381ULFM011487,NaN,NaN,N2200,NaN,NaN,NaN,HARISH CHAUHAN,9599337696,NaN,...,NaN,JDP,2017,Delight,JDP,256694.10,93,681.0,MALC381ULFM011487,66.0
524904,MALC381ULFM011487,Creta,42207.0,N2219,NaN,NaN,NaN,HARSH CHHABRA,8860199000.0,R201808990,...,Creta,Non-JDP,2018,Delight,Non JDP,256694.10,93,681.0,MALC381ULFM011487,66.0
524905,MALC381ULFM011487,CRETA (D),42207,N2219,NaN,NaN,NaN,HARSH CHHABRA,NaN,R201811451,...,Creta,Non-JDP,2018,Delight,Non JDP,256694.10,93,681.0,MALC381ULFM011487,66.0
564827,MALAL51BLFM632614,i10,NaN,S5408,NaN,NaN,NaN,SRI JAYALAKSHMI AUTOMOTIVES PRIVATE LIMITED,8886999157,NaN,...,i10,JDP,2017,Satisfied,JDP,46750.00,70,311.0,MALAL51BLFM632614,47.0
564828,MALAL51BLFM632614,i10,42180,S5232,NaN,NaN,NaN,SRI JAYALAKSHMI AUTOMOTIVES PRIVATE LIMITED,8886999157,R201707487,...,i10,JDP,2018,Delight,JDP,46750.00,70,311.0,MALAL51BLFM632614,47.0
580799,MALAL51BLFM632251,i10,NaN,S8426,NaN,NaN,NaN,SAPHIRE MOTORS PVT LTD,9538881549,NaN,...,i10,JDP,2017,Delight,JDP,1870109.14,64,1031.0,MALAL51BLFM632251,7.0
580800,MALAL51BLFM632251,i10,42132.0,S8426,43524.79881944445,NaN,NaN,SAPHIRE MOTORS PVT LTD,NaN,R201805539,...,i10,JDP,2019,Delight,JDP,1870109.14,64,1031.0,MALAL51BLFM632251,7.0
609779,MALC381ULHM204818,CRETA (D),42774.0,N2219,42983.0,NaN,NaN,HARSH CHHABRA,9416021789,NaN,...,CRETA (D),Non JDP,2017,Delight,Non JDP,293424.48,50,736.0,MALC381ULHM204818,125.0
609780,MALC381ULHM204818,Creta,NaN,N2219,NaN,NaN,NaN,HARSH CHHABRA,9416021789,NaN,...,Creta,Non JDP,2017,Delight,Non JDP,293424.48,50,736.0,MALC381ULHM204818,125.0
646959,MALA251ALGM486205,EON,NaN,W4401,NaN,NaN,NaN,AMAR SINGH RATHORE,8233145668,NaN,...,EON,JDP,2017,Delight,JDP,54412.49,20,534.0,MALA251ALGM486205,48.0
649555,MALA851DLGM536942,Grand i10,NaN,W3222,NaN,NaN,NaN,GAURANG MODI,8000385689,NaN,...,Grand i10,Non JDP,2017,Satisfied,Non JDP,59010.11,12,306.0,MALA851DLGM536942,26.0
670332,MALJ381AMGM010077,Tucson,NaN,N2219,NaN,NaN,NaN,SAMRITHI MOTORS PVT LTDD,9.215e+09,NaN,...,Tucson,Non JDP,2017,Delight,Non JDP,61019.28,12,528.0,MALJ381AMGM010077,36.0
675850,MALA851CLHM611564,Grand i10,NaN,S7237,NaN,NaN,NaN,JOHNSON AI,7.73654e+09,NaN,...,Grand i10,JDP,2017,Delight,JDP,14507.94,26,325.0,MALA851CLHM611564,38.0
675851,MALA851CLHM611564,GRAND i10 (P),42851,S7232,NaN,NaN,NaN,JOHNSON AI,7.73654e+09,R201714024,...,Grand i10,JDP,2018,Delight,JDP,14507.94,26,325.0,MALA851CLHM611564,38.0
760599,MALA851CLHM733648,Grand i10,43069,W3417,NaN,NaN,NaN,AMIT DAYALJIBHAI PATEL,NaN,R201812633,...,Grand i10,NaN,2018,Satisfied,Non JDP,42340.33,5,828.0,MALA851CLHM733648,145.0
816459,MALA841CLFM082982,Xcent,42072,W3214,NaN,NaN,NaN,PRAGNABEN DHIRENKUMAR PANDAY,9925435673,R201800935,...,Xcent,Non-JDP,2018,Satisfied,Non JDP,147473.69,16,376.0,MALA841CLFM082982,94.0
829649,MALA251ALGM515952,EON,42738,S7224,NaN,NaN,NaN,NITHIN KRISHNAN R,9.56608e+09,R201802260,...,Eon,Non-JDP,2018,Delight,Non JDP,89098.03,27,414.0,MALA251ALGM515952,5.0
829663,MALA251ALHM537882,Eon,42848,W2232,NaN,NaN,NaN,PAWAR DINESH,7.50778e+09,R201802789,...,Eon,Non-JDP,2018,Delight,Non JDP,31091.89,23,640.0,MALA251ALHM537882,36.0
870586,MALAA51HLEM836036,Santro,41692.0,N4607,43517.77266203704,NaN,NaN,Kuldeep Kumar,NaN,R201900198,...,Santro,JDP,2019,Delight,JDP,102787.23,24,864.0,MALAA51HLEM836036,34.0
876926,MALAA51HLDM815474,Santro,41547.0,W3217,43497.70077546297,NaN,NaN,NARESHBHAI,NaN,R201901307,...,Santro,Non-JDP,2019,Delight,Non JDP,23478.80,46,360.0,MALAA51HLDM815474,38.0
876927,MALAA51HLDM815474,SANTRO,30-09-2013,W3217,2020-02-15 00:00:00,NaN,NaN,NARESHBHAI,NaN,R202001864,...,Santro,Emerging City,2020,Delight,JDP,23478.80,46,360.0,MALAA51HLDM815474,38.0
883235,MALA851DLDM036141,Grand i10,NaN,N2219,43536.636979166666,NaN,NaN,ANKUSH SHARMA,NaN,R201903537,...,Grand i10,Non-JDP,2019,Satisfied,Non JDP,134993.42,63,933.0,MALA851DLDM036141,66.0
891582,MALAM51CLAM682428,i10,40387.0,W3212,43513.53459490741,NaN,NaN,MAHESHBHAI GANGANI,NaN,R201902021,...,i10,Non-JDP,2019,Delight,Non JDP,226477.43,63,357.0,MALAM51CLAM682428,8.0
924471,MALCU41ULFM205888,New Verna,NaN,N2219,43696.0,NaN,NaN,LAKSHYA KHANNA SO ARUN KHANNA,NaN,R201911912,...,New Verna,Non-JDP,2019,Delight,Non JDP,82473.84,34,1189.0,MALCU41ULFM205888,122.0
1049985,MALA851CLHM756395,Grand i10,NaN,E4405,NaN,NaN,NaN,PRITY SAIKIA,NaN,R201805395,...,Grand i10,Top 40 city,2019,Delight,JDP,133668.56,8,339.0,MALA851CLHM756395,173.0
1065973,MALBB51RLCM404617,i20,41029,W2224,43440.0,NaN,NaN,BAGADI SANTOSH MARIBA,NaN,R201822673,...,i20,JDP,2019,Delight,JDP,271013.24,38,666.0,MALBB51RLCM404617,29.0
1130963,MALBM51BLJM647271,Elite i20 (1.2P),2019-01-21 00:00:00,S7817,-,NaN,NaN,ANUBIND,NaN,R202000112,...,i20,RSO,2020,Delight,Non JDP,21659.52,14,416.0,MALBM51BLJM647271,12.0

In [57]:
final_df['refrl_count'].value_counts()

2.0       106233
1.0        39166
4.0        24300
3.0         8667
6.0         7012
8.0         2673
5.0         2666
10.0        1129
7.0         1015
12.0         606
9.0          469
14.0         350
16.0         279
11.0         184
18.0         168
20.0         160
13.0         128
15.0          96
22.0          76
24.0          67
17.0          64
30.0          63
26.0          59
28.0          58
19.0          46
34.0          46
32.0          37
23.0          37
21.0          36
40.0          30
           ...
828.0          1
166.0          1
83.0           1
528.0          1
864.0          1
339.0          1
79.0           1
93.0           1
77.0           1
76.0           1
75.0           1
94.0           1
1189.0         1
74.0           1
640.0          1
416.0          1
357.0          1
108.0          1
113.0          1
114.0          1
65.0           1
130.0          1
140.0          1
933.0          1
141.0          1
306.0          1
244.0          1
151.0          1
289.0          1
118.0          1
Name: refrl_count, Length: 182, dtype: int64

### Calculating the difference between total actual bill and total estimate amount

In [70]:
cursor_1.execute('select * from ro_estmt_amt')
ro_estmt_amt = as_pandas(cursor_1)

In [71]:
print(ro_estmt_amt.shape)
ro_estmt_amt.head(3)

(13468659, 3)

            repm_vin repm_estmt_amt         model_name
0  MALET41VLAM002525           0.00  MALET41VLAM002525
1  MALET41VLAM002525        4000.00  MALET41VLAM002525
2  MALET41VLAM002525           0.00  MALET41VLAM002525

In [73]:
# Calculating total estimate amt for all VINs
ro_estmt_amt['total_estmt_amt'] = ro_estmt_amt.repm_vin.map(ro_estmt_amt.groupby('repm_vin')['repm_estmt_amt'].sum())

In [74]:
ro_estmt_amt.head(3)

            repm_vin repm_estmt_amt         model_name total_estmt_amt
0  MALET41VLAM002525           0.00  MALET41VLAM002525       180050.00
1  MALET41VLAM002525        4000.00  MALET41VLAM002525       180050.00
2  MALET41VLAM002525           0.00  MALET41VLAM002525       180050.00

In [76]:
# Removing duplicates
ro_estmt_amt_dup_rm = ro_estmt_amt.drop_duplicates(subset = 'repm_vin', keep = 'first')

In [78]:
print(ro_estmt_amt_dup_rm.shape)
ro_estmt_amt_dup_rm.head(3)

(782372, 4)

             repm_vin repm_estmt_amt         model_name total_estmt_amt
0   MALET41VLAM002525           0.00  MALET41VLAM002525       180050.00
37  MALET41VLAM002490       12000.00  MALET41VLAM002490        87000.00
53  MALEN41BR5M005932           0.00  MALEN41BR5M005932        12360.00

In [77]:
# Reading the delight/satisfied customer data with all relevant columns
cust_del_sat_all = pd.read_csv("df_with_all_columns.csv")
cust_del_sat_all.shape

(1137734, 51)

In [79]:
cust_del_sat_all.head(3)

,Unnamed: 0,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,...,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,refl_vin,Total_retail_count,complaint_count
0,0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,...,JDP,2016,Satisfied,JDP,4735.98,4,NaN,NaN,NaN,NaN
1,1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,...,JDP,2016,Satisfied,JDP,1613.51,4,NaN,NaN,NaN,NaN
2,2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,...,JDP,2016,Delight,JDP,31190.87,6,NaN,NaN,NaN,NaN

In [80]:
merged_final = pd.merge(cust_del_sat_all, ro_estmt_amt_dup_rm[["repm_vin","total_estmt_amt"]], left_on = "VIN Number", right_on = 'repm_vin')
merged_final.head(3)

,Unnamed: 0,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,...,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,refl_vin,Total_retail_count,complaint_count,repm_vin,total_estmt_amt
0,0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,...,Satisfied,JDP,4735.98,4,NaN,NaN,NaN,NaN,MALA151ALEM335998,7850.00
1,1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,...,Satisfied,JDP,1613.51,4,NaN,NaN,NaN,NaN,MALA151ALFM369430,2000.00
2,2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,...,Delight,JDP,31190.87,6,NaN,NaN,NaN,NaN,MALA251ALEM271762,9100.00

In [81]:
merged_final.shape

(1137734, 53)

In [82]:
# Removing unwanted columns from the data frame
# Removing unnecessary columns
merged_final = merged_final.drop(["Unnamed: 0", "refl_vin", "repm_vin"], axis = 1)

merged_final.head(3)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,JDP/NonJDP,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,JDP,2016,Satisfied,JDP,4735.98,4,NaN,NaN,NaN,7850.00
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,JDP,2016,Satisfied,JDP,1613.51,4,NaN,NaN,NaN,2000.00
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,JDP,2016,Delight,JDP,31190.87,6,NaN,NaN,NaN,9100.00

In [84]:
merged_final.dtypes

VIN Number                     object
Model Name                     object
Sale Date                      object
Service Dealer                 object
Ro Date                        object
Max Milg                       object
VISIT CNT                      object
Customer Name                  object
Latest Mobile Number           object
Ro Number                      object
Work Type                      object
Closer Date                    object
City Name                      object
State                          object
Pin Code                       object
Dealer Name                    object
Dealer Code                    object
availed_Pick_Drop_Facility     object
Q1                            float64
Q2                            float64
Q3                            float64
Q4                            float64
Q5                            float64
Q6                            float64
For 1~8 Rating VOC             object
Q15                           float64
Overall Remarks                object
Customer Comment              float64
Complaint                     float64
Survey Disposition            float64
Campaign                       object
Service Advisor                object
1-8 Rating                     object
Delight                        object
Dealer Name.1                  object
Top / Emerge                   object
City                           object
Region                         object
Zone                           object
Model Name.1                   object
JDP/NonJDP                     object
Year                            int64
customer_category              object
JDP_or_NonJDP                  object
total_bill                    float64
RO_visit_count                  int64
refrl_count                   float64
Total_retail_count            float64
complaint_count               float64
total_estmt_amt                object
dtype: object

In [85]:
# Changing the data type of total estmt amt to float
merged_final["total_estmt_amt"] = merged_final.total_estmt_amt.astype(float)

In [86]:
# Calculating the difference between the actual total bill and total estimate amount
merged_final['actual_estmt_diff'] = merged_final['total_bill'] - merged_final['total_estmt_amt']

In [87]:
# Where the diff is in negative, it means that the actual bill was less than the estimate amount
# while where the estmt diff is positive it means that the actual bill was more than the estimate amount
merged_final.head(3)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt,actual_estmt_diff
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,2016,Satisfied,JDP,4735.98,4,NaN,NaN,NaN,7850.0,-3114.02
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,2016,Satisfied,JDP,1613.51,4,NaN,NaN,NaN,2000.0,-386.49
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,2016,Delight,JDP,31190.87,6,NaN,NaN,NaN,9100.0,22090.87

In [89]:
merged_final.to_csv('final_df_with_diff_col.csv', encoding = 'utf-8')

In [91]:
merged_final.head(3)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt,actual_estmt_diff
0,MALA151ALEM335998,EON,42002,N4209,42339,2516,NaN,AJEET SINGH,8302895886,R201509204,...,2016,Satisfied,JDP,4735.98,4,NaN,NaN,NaN,7850.0,-3114.02
1,MALA151ALFM369430,EON,42091,N3405,42339,10105,NaN,MOHAMMAD AHETOSHAMMUL HAQ QURE,7417474576,R201514221,...,2016,Satisfied,JDP,1613.51,4,NaN,NaN,NaN,2000.0,-386.49
2,MALA251ALEM271762,EON,41881,S5200,42339,5657,NaN,G RAM REDDY,7416851119,R201520587,...,2016,Delight,JDP,31190.87,6,NaN,NaN,NaN,9100.0,22090.87

In [93]:
merged_final[merged_final['complaint_count'] == 6]

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt,actual_estmt_diff
49122,MALCT41RLFM188696,NEW VERNA,42067,N3414,42448,19035,NaN,SHALENDRA KUMAR SHRIVASTAVA(UP,9.87381e+09,R201601414,...,2016,Satisfied,JDP,455896.25,39,NaN,NaN,6.0,125300.0,330596.25
58733,MALA841DLEM036094,Xcent (D),41869,E6408,42481,24620,NaN,Kripa Nath Singh,9708900333,R201602103,...,2016,Delight,JDP,1249428.38,66,NaN,NaN,6.0,61300.0,1188128.38
58734,MALA841DLEM036094,Xcent (D),41869,E6408,42534,39171,NaN,Kripa Nath Singh,9708900333,R201603393,...,2016,Delight,JDP,1249428.38,66,NaN,NaN,6.0,61300.0,1188128.38
80931,MALA841CLEM041896,Xcent (P),41915,W1412,42514,19965,NaN,CDR PANKAJ BHATNAGAR,9225977077,R201603021,...,2016,Satisfied,JDP,139277.68,34,NaN,NaN,6.0,32800.0,106477.68
80932,MALA841CLEM041896,Xcent,NaN,W2406,43714.0,NaN,NaN,BHATNAGAR PANKAJ,NaN,R201909649,...,2019,Satisfied,JDP,139277.68,34,NaN,NaN,6.0,32800.0,106477.68
294604,MALA851CLGM452824,NaN,NaN,N2223,NaN,NaN,NaN,NITIN AGGARWAL,9958079094,NaN,...,2017,Satisfied,Non JDP,59554.00,72,2.0,NaN,6.0,70000.0,-10446.00
294605,MALA851CLGM452824,NaN,NaN,N2223,NaN,NaN,NaN,NITIN AGGARWAL,9958079094,NaN,...,2017,Satisfied,Non JDP,59554.00,72,2.0,NaN,6.0,70000.0,-10446.00
294606,MALA851CLGM452824,GRAND i10 (P),NaN,N1200,NaN,NaN,NaN,NITIN AGGARWAL,9650139060,NaN,...,2017,Satisfied,JDP,59554.00,72,2.0,NaN,6.0,70000.0,-10446.00
294607,MALA851CLGM452824,Grand i10,NaN,N1200,NaN,NaN,NaN,NITIN AGGARWAL,NaN,R201814570,...,2019,Satisfied,JDP,59554.00,72,2.0,NaN,6.0,70000.0,-10446.00
634363,MALA851CMHM679207,GRAND i10 (P),NaN,W2204,NaN,NaN,NaN,SHIVDE BHAGYASHREE SUBODH,9763704833,NaN,...,2017,Satisfied,JDP,24927.00,20,NaN,NaN,6.0,18000.0,6927.00
634364,MALA851CMHM679207,GRAND i10 (P),NaN,W2604,NaN,NaN,NaN,SHIVDE BHAGYASHREE SUBODH,9763704833,NaN,...,2017,Satisfied,JDP,24927.00,20,NaN,NaN,6.0,18000.0,6927.00
880884,MALA151ALEM281638,Eon,NaN,N4509,43552.7190162037,NaN,NaN,SAROJ,NaN,R201901577,...,2019,Satisfied,Non JDP,246365.64,11,NaN,NaN,6.0,147500.0,98865.64
906013,MALA841DLEM016009,Xcent,NaN,N3230,43608.5378587963,NaN,NaN,ADITYA SHARMAUPCF,NaN,R201904094,...,2019,Delight,JDP,169413.49,42,4.0,NaN,6.0,30521.0,138892.49
909558,MALBB51BLDM553614,i20,NaN,N2206,43588.62902777778,NaN,NaN,RADHIKA,NaN,R201903396,...,2019,Delight,Non JDP,199333.92,49,NaN,NaN,6.0,23750.0,175583.92

In [105]:
merged_final.tail(4)

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt,actual_estmt_diff
1137730,MALA741CLJM330592,Xcent (P),2018-10-16 00:00:00,W1221,2020-06-13 00:00:00,NaN,NaN,YASHWANT S. BATWALKAR,NaN,R202003500,...,2020,Delight,JDP,9261.02,8,NaN,NaN,1.0,0.0,9261.02
1137731,MALJ381ASJM013042,Tucson (TLi) D,2019-02-28 00:00:00,W5205,2020-06-12 00:00:00,NaN,NaN,ROHIT SATISH KALE .,NaN,R202003799,...,2020,Delight,JDP,889259.20,12,NaN,NaN,NaN,0.0,889259.20
1137732,MALD341CLHM012170,Elantra (ADi) P,2017-05-08 00:00:00,S1100,2020-06-15 00:00:00,NaN,NaN,RAJA,NaN,R202006500,...,2020,Delight,JDP,284476.46,21,NaN,NaN,NaN,26200.0,258276.46
1137733,MALSW81XSFM011983,SANTA FE (DMi),2015-03-26 00:00:00,W3222,2020-06-15 00:00:00,NaN,NaN,NAUSHAD MALIK,NaN,R202004221,...,2020,Delight,JDP,541451.65,32,NaN,NaN,NaN,23000.0,518451.65

In [108]:
merged_final.groupby('VIN Number')['customer_category'].sum()

VIN Number
KMHSH81XLAU667673                           Delight
KMHSH81XLBU724388                         Satisfied
KMHSH81XLBU738910                         Satisfied
KMHSH81XLBU741516                           Delight
KMHSH81XLBU753464                         Satisfied
KMHSH81XNAU666861                           Delight
KMHSH81XNAU667009                           Delight
KMHSH81XNAU700763                         Satisfied
KMHSH81XNAU701430                         Satisfied
KMHSH81XNBU702991                           Delight
KMHSH81XNBU703395                         Satisfied
KMHSH81XNBU703518                           Delight
KMHSH81XNBU724542                           Delight
KMHSH81XNBU738132                         Satisfied
KMHSH81XNBU738377                           Delight
KMHSH81XNBU741579                         Satisfied
KMHSH81XNBU741627                         Satisfied
KMHSH81XNBU744166                         Satisfied
KMHSH81XNBU744175                           Delight
KMHSH81XNBU753195                         Satisfied
KMHSH81XNBU766138                           Delight
KMHSU81CSGU733630                         Satisfied
MALA151ALBM012697                         Satisfied
MALA151ALBM012762                           Delight
MALA151ALBM012780                           Delight
MALA151ALBM013206                         Satisfied
MALA151ALBM013726                SatisfiedSatisfied
MALA151ALBM013737                         Satisfied
MALA151ALBM015507                         Satisfied
MALA151ALBM015592                         Satisfied
                                  ...
MALSW81XSGM013405                           Delight
MALSW81XSGM013412                         Satisfied
MALSW81XSGM013414                         Satisfied
MALSW81XSGM013416                  SatisfiedDelight
MALSW81XSGM013425                         Satisfied
MALSW81XSGM013426                         Satisfied
MALSW81XSGM013435                           Delight
MALSW81XSGM013443                         Satisfied
MALSW81XSGM013462                           Delight
MALSW81XSGM013464                           Delight
MALSW81XSGM013470                SatisfiedSatisfied
MALSW81XSGM013471                           Delight
MALSW81XSGM013472         SatisfiedSatisfiedDelight
MALSW81XSGM013475                         Satisfied
MALSW81XSHM013496                           Delight
MALSW81XSHM013497                         Satisfied
MALSW81XSHM013503                           Delight
MALSW81XSHM013504                           Delight
MALSW81XSHM013507                SatisfiedSatisfied
MALSW81XSHM013510                           Delight
MALSW81XSHM013511                         Satisfied
MALSW81XSHM013533                           Delight
MALSW81XSHM013534                           Delight
MALSW81XSHM013536                         Satisfied
MALSW81XSHM013538                    DelightDelight
MALSW81XSHM013539    DelightDelightSatisfiedDelight
MALSW81XSHM013546                    DelightDelight
MALSW81XSHM013549                SatisfiedSatisfied
MALSW81XSHM013553                           Delight
MALSW81XSHM013569                    DelightDelight
Name: customer_category, Length: 782372, dtype: object

In [109]:
merged_final[merged_final['VIN Number'] == 'MALSW81XSHM013539']

,VIN Number,Model Name,Sale Date,Service Dealer,Ro Date,Max Milg,VISIT CNT,Customer Name,Latest Mobile Number,Ro Number,...,Year,customer_category,JDP_or_NonJDP,total_bill,RO_visit_count,refrl_count,Total_retail_count,complaint_count,total_estmt_amt,actual_estmt_diff
651718,MALSW81XSHM013539,New Santa Fe (DM),NaN,N2229,NaN,NaN,NaN,TRIVALENT ENGINNERS AND CONSULTANTS PVT. LTD.,9818031173,NaN,...,2017,Delight,JDP,1565723.56,120,5.0,NaN,NaN,42000.0,1523723.56
651719,MALSW81XSHM013539,New Santa Fe (DM),42887,N2229,NaN,NaN,NaN,TRIVALENT ENGINNERS AND CONSULTANTS PVT. LTD.,9818031173,DL2CAX6363,...,2018,Delight,JDP,1565723.56,120,5.0,NaN,NaN,42000.0,1523723.56
651720,MALSW81XSHM013539,SANTA FE (DMi),42887,N2229,NaN,NaN,NaN,TRIVALENT ENGINNERS AND CONSULTANTS PVT. LTD.,9818031173,R201804916,...,2018,Satisfied,JDP,1565723.56,120,5.0,NaN,NaN,42000.0,1523723.56
651721,MALSW81XSHM013539,SANTA FE (DMi),2017-06-01 00:00:00,N2229,2020-02-18 00:00:00,NaN,NaN,TRIVALENT ENGINNERS AND CONSULTANTS PVT. LTD.,NaN,R202002058,...,2020,Delight,JDP,1565723.56,120,5.0,NaN,NaN,42000.0,1523723.56

### Grouping VINs based on customer category to check which VIN has multiple values for customer category

In [110]:
merged_final.groupby(['VIN Number','customer_category'])['customer_category'].count()

VIN Number         customer_category
KMHSH81XLAU667673  Delight              1
KMHSH81XLBU724388  Satisfied            1
KMHSH81XLBU738910  Satisfied            1
KMHSH81XLBU741516  Delight              1
KMHSH81XLBU753464  Satisfied            1
KMHSH81XNAU666861  Delight              1
KMHSH81XNAU667009  Delight              1
KMHSH81XNAU700763  Satisfied            1
KMHSH81XNAU701430  Satisfied            1
KMHSH81XNBU702991  Delight              1
KMHSH81XNBU703395  Satisfied            1
KMHSH81XNBU703518  Delight              1
KMHSH81XNBU724542  Delight              1
KMHSH81XNBU738132  Satisfied            1
KMHSH81XNBU738377  Delight              1
KMHSH81XNBU741579  Satisfied            1
KMHSH81XNBU741627  Satisfied            1
KMHSH81XNBU744166  Satisfied            1
KMHSH81XNBU744175  Delight              1
KMHSH81XNBU753195  Satisfied            1
KMHSH81XNBU766138  Delight              1
KMHSU81CSGU733630  Satisfied            1
MALA151ALBM012697  Satisfied            1
MALA151ALBM012762  Delight              1
MALA151ALBM012780  Delight              1
MALA151ALBM013206  Satisfied            1
MALA151ALBM013726  Satisfied            2
MALA151ALBM013737  Satisfied            1
MALA151ALBM015507  Satisfied            1
MALA151ALBM015592  Satisfied            1
                                       ..
MALSW81XSGM013416  Delight              1
                   Satisfied            1
MALSW81XSGM013425  Satisfied            1
MALSW81XSGM013426  Satisfied            1
MALSW81XSGM013435  Delight              1
MALSW81XSGM013443  Satisfied            1
MALSW81XSGM013462  Delight              1
MALSW81XSGM013464  Delight              1
MALSW81XSGM013470  Satisfied            2
MALSW81XSGM013471  Delight              1
MALSW81XSGM013472  Delight              1
                   Satisfied            2
MALSW81XSGM013475  Satisfied            1
MALSW81XSHM013496  Delight              1
MALSW81XSHM013497  Satisfied            1
MALSW81XSHM013503  Delight              1
MALSW81XSHM013504  Delight              1
MALSW81XSHM013507  Satisfied            2
MALSW81XSHM013510  Delight              1
MALSW81XSHM013511  Satisfied            1
MALSW81XSHM013533  Delight              1
MALSW81XSHM013534  Delight              1
MALSW81XSHM013536  Satisfied            1
MALSW81XSHM013538  Delight              2
MALSW81XSHM013539  Delight              3
                   Satisfied            1
MALSW81XSHM013546  Delight              2
MALSW81XSHM013549  Satisfied            2
MALSW81XSHM013553  Delight              1
MALSW81XSHM013569  Delight              2
Name: customer_category, Length: 865950, dtype: int64

In [111]:
fluctuating_customers = merged_final.groupby(['VIN Number','customer_category'])['customer_category'].count()

In [114]:
fluctuating_customers.head(4)

VIN Number         customer_category
KMHSH81XLAU667673  Delight              1
KMHSH81XLBU724388  Satisfied            1
KMHSH81XLBU738910  Satisfied            1
KMHSH81XLBU741516  Delight              1
Name: customer_category, dtype: int64