In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from pyhive import hive
import pydoop.hdfs as hdfs
from pyhive import hive
from impala.dbapi import connect
from impala.util import as_pandas

In [2]:
# Establishing the connection with Hive
host_name = "10.107.6.14"
port = 10000
user = "hdfs"
password = "bigid#01"
database="referral_mart_latest"
conn = hive.Connection(host=host_name, port=port, username=user, password=password,
                           database=database, auth='CUSTOM')
cursor_1 = conn.cursor()

**Create splits for customer group id and create partition of service data and other tables to make it computationally less intensive. If enough processing capacity is available or data is already partitioned skip this step**

In [3]:
cust_grp = pd.read_csv('Cust_grp_master_final_1.csv')

/usr/local/src/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,1,2,3,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(cust_grp.shape)
print(cust_grp.columns)

(1924867, 10)
Index(['con_id', 'con_id_x', 'con_id_y', 'phone_no', 'repm_vin', 'ser_ph_grp',
       'service_phone', 'unique_cust_grp', 'vin_grp', 'Target'],
      dtype='object')

In [5]:
cust_grp.head(3)

,con_id,con_id_x,con_id_y,phone_no,repm_vin,ser_ph_grp,service_phone,unique_cust_grp,vin_grp,Target
0,NaN,1-29OZ-1503,1-29OZ-1503,9.89111e+09,MALAA51HR5M700082,1316486,9891112121,0,566852,0
1,NaN,1-29OE-2971,1-29OE-2971,2.5012e+09,MALAA51HR5M700158,235,2501201900,1,566853,0
2,NaN,1-2A9X-3345,1-2A9X-3345,9.99416e+09,MALAA51HR5M700178,1567815,9994155040,2,566854,0

In [6]:
#Separate customer group containing used vehicles where used_1 is the first owner of used vehicle
#and used_2 is the 2nd owner of a used vehicle
cust_grp['used_1'] = np.where(((cust_grp['vin_grp']=='used_car_1st')|
                             (cust_grp['unique_cust_grp'].astype(str).str.contains('_used'))), True, False)
cust_grp['used_2'] = np.where(((cust_grp['vin_grp']=='used_car_2nd')|
                             (cust_grp['unique_cust_grp'].astype(str).str.contains('_used2'))), True, False)

In [7]:
used_cust_grp_1 = cust_grp[cust_grp['used_1']==True][['repm_vin', 'service_phone', 'unique_cust_grp', 'con_id']]
used_cust_grp_2 = cust_grp[cust_grp['used_2']==True][['repm_vin', 'service_phone', 'unique_cust_grp', 'con_id']]
print("used_cust_grp_1 : ",used_cust_grp_1.shape)
print("used_cust_grp_2 : ",used_cust_grp_2.shape)

used_cust_grp_1 :  (232003, 4)
used_cust_grp_2 :  (187221, 4)

In [8]:
print(cust_grp.shape)
print(cust_grp.columns)

(1924867, 12)
Index(['con_id', 'con_id_x', 'con_id_y', 'phone_no', 'repm_vin', 'ser_ph_grp',
       'service_phone', 'unique_cust_grp', 'vin_grp', 'Target', 'used_1',
       'used_2'],
      dtype='object')

In [9]:
cust_grp.head(3)

,con_id,con_id_x,con_id_y,phone_no,repm_vin,ser_ph_grp,service_phone,unique_cust_grp,vin_grp,Target,used_1,used_2
0,NaN,1-29OZ-1503,1-29OZ-1503,9.89111e+09,MALAA51HR5M700082,1316486,9891112121,0,566852,0,False,False
1,NaN,1-29OE-2971,1-29OE-2971,2.5012e+09,MALAA51HR5M700158,235,2501201900,1,566853,0,False,False
2,NaN,1-2A9X-3345,1-2A9X-3345,9.99416e+09,MALAA51HR5M700178,1567815,9994155040,2,566854,0,False,False

In [10]:
# Creating the feature used_vin such that used_vin == True means its a used vehicle and used_vin == False means its a new car
cust_grp['used_vin'] = np.where(cust_grp['used_1'] == True, True, False)
cust_grp['used_vin'] = np.where(cust_grp['used_2'] == True, True, False)

In [11]:
cust_grp['used_vin'].value_counts()

False    1737646
True      187221
Name: used_vin, dtype: int64

In [12]:
import glob
#Create df of customer group containing non-used vehicles only 
used_vin_list = cust_grp[(cust_grp['used_vin'] == True)].repm_vin.unique().tolist()
len(used_vin_list)

127379

In [13]:
cust_grp_noused = cust_grp[~cust_grp.unique_cust_grp.isin(used_vin_list)]
cust_grp_noused.shape

(1924867, 13)

In [14]:
cust_grp_noused = cust_grp[~cust_grp.repm_vin.isin(used_vin_list)]
cust_grp_noused.shape

(1703479, 13)

In [15]:
cust_grp_noused.head(3)

,con_id,con_id_x,con_id_y,phone_no,repm_vin,ser_ph_grp,service_phone,unique_cust_grp,vin_grp,Target,used_1,used_2,used_vin
0,NaN,1-29OZ-1503,1-29OZ-1503,9.89111e+09,MALAA51HR5M700082,1316486,9891112121,0,566852,0,False,False,False
1,NaN,1-29OE-2971,1-29OE-2971,2.5012e+09,MALAA51HR5M700158,235,2501201900,1,566853,0,False,False,False
2,NaN,1-2A9X-3345,1-2A9X-3345,9.99416e+09,MALAA51HR5M700178,1567815,9994155040,2,566854,0,False,False,False

In [ ]:
# Split or partition customer group containing non-used vehicles only
def split(df, name):
    m = cust_grp_noused.unique_cust_grp.unique().tolist()
    n = 200000
    last = 0
    r = 1
    name = name
    path = r'/home/neelima/Service_Latest_Data_Final_Execution'
    while last<len(m):
        df_new = df[df.unique_cust_grp.isin(m[int(last):int(last+n)])]
        name = name + '_' + str(r)
        file = path+'/'+name+'.csv'
        last+=n
        r+=1
        #print(df_new.shape)
        df_new.to_csv(file, encoding='utf-8', index=False)

In [ ]:
split(cust_grp_noused, 'cust_grp_noused_1')

In [16]:
print("cust_grp raw:", cust_grp.shape)
print("cust_grp_noused:", cust_grp_noused.shape)
print("used_cust_grp_1:", used_cust_grp_1.shape)
print("used_cust_grp_2:", used_cust_grp_2.shape)

cust_grp raw: (1924867, 13)
cust_grp_noused: (1703479, 13)
used_cust_grp_1: (232003, 4)
used_cust_grp_2: (187221, 4)

**Service history feature engineering for used cars**

In [17]:
#Remove duplicates from used_car_cust_grp
used_cust_grp_1_dedup = used_cust_grp_1.drop_duplicates(subset=['repm_vin', 'unique_cust_grp'])
used_cust_grp_2_dedup = used_cust_grp_2.drop_duplicates(subset=['repm_vin', 'unique_cust_grp'])

In [18]:
print("used_cust_grp_1_dedup:", used_cust_grp_1_dedup.shape)
print("used_cust_grp_2_dedup:", used_cust_grp_2_dedup.shape)

used_cust_grp_1_dedup: (155554, 4)
used_cust_grp_2_dedup: (127379, 4)

In [19]:
# Reading table used_car_rcrepm
cursor_1.execute('select * from used_car_rcrepm')
used_car_rcrepm = as_pandas(cursor_1)

In [ ]:
used_car_rcrepm_backup = used_car_rcrepm.copy()

In [20]:
print(used_car_rcrepm.shape)
print(used_car_rcrepm.columns)
used_car_rcrepm.head(3)

(33744535, 14)
Index(['repm_dlr_code', 'repm_cust_no', 'repm_ro_no', 'repm_ro_dtime',
       'repm_vin', 'repm_work_type', 'repm_vst_type',
       'repm_bill_total_labr_amt', 'repm_bill_total_othr_amt',
       'repm_bill_total_part_amt', 'vinm_selling_date', 'vinm_sale_date',
       'vinm_model_year', 'vinm_last_milg'],
      dtype='object')

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg
0,N3208,C2008020258,R201708673,2017-07-29 10:10:50,MALCG51WR6M015343,OC,null,0.00,0.00,0.00,null,20060629,2006,81635
1,W2213,C2008030086,R201610998,2016-11-16 17:14:46,MALCG51WR6M015479,OC,null,0.00,0.00,0.00,null,20061128,2006,75950
2,W2213,C2008030086,R201702566,2017-03-13 18:08:27,MALCG51WR6M015479,OC,null,0.00,0.00,0.00,null,20061128,2006,75950

In [21]:
used_car_rcrepm = used_car_rcrepm.replace("null", np.nan)

In [22]:
used_car_rcrepm.dtypes

repm_dlr_code                       object
repm_cust_no                        object
repm_ro_no                          object
repm_ro_dtime               datetime64[ns]
repm_vin                            object
repm_work_type                      object
repm_vst_type                       object
repm_bill_total_labr_amt            object
repm_bill_total_othr_amt            object
repm_bill_total_part_amt            object
vinm_selling_date                   object
vinm_sale_date                      object
vinm_model_year                     object
vinm_last_milg                       int64
dtype: object

In [23]:
used_car_rcrepm['repm_ro_dtime'] = pd.to_datetime(used_car_rcrepm['repm_ro_dtime'])

In [26]:
used_car_rcrepm['vinm_selling_date'] = pd.to_datetime(used_car_rcrepm['vinm_selling_date'])

In [27]:
used_car_rcrepm['used_car_sale_date'] = pd.to_datetime(used_car_rcrepm['vinm_selling_date'], infer_datetime_format=True)

In [28]:
used_car_rcrepm.shape

(33744535, 15)

In [29]:
#Separate service data for 1st owner vs 2nd owner
used_car_rcrepm_1 = used_car_rcrepm[(used_car_rcrepm['repm_ro_dtime']<used_car_rcrepm['used_car_sale_date'])&
                                   (used_car_rcrepm.repm_work_type!='PD')]

used_car_rcrepm_2 = used_car_rcrepm[(used_car_rcrepm['repm_ro_dtime']>used_car_rcrepm['used_car_sale_date'])&
                                   (used_car_rcrepm.repm_work_type!='PD')]

In [30]:
print("Used_car_rcrepm original:", used_car_rcrepm.shape)
print("Used_car_rcrepm_1:", used_car_rcrepm_1.shape)
print("Used_car_rcrepm_2:", used_car_rcrepm_2.shape)
print("")
print("used_cust_grp_1_dedup:", used_cust_grp_1_dedup.shape)
print("used_cust_grp_2_dedup:", used_cust_grp_2_dedup.shape)

Used_car_rcrepm original: (33744535, 15)
Used_car_rcrepm_1: (909344, 15)
Used_car_rcrepm_2: (644382, 15)

used_cust_grp_1_dedup: (155554, 4)
used_cust_grp_2_dedup: (127379, 4)

In [31]:
#Merge used car service data with used car customer groups
used_car_1_serv_hist = pd.merge(used_car_rcrepm_1, used_cust_grp_1_dedup, how='left', on=['repm_vin'], indicator = True)
used_car_2_serv_hist = pd.merge(used_car_rcrepm_2, used_cust_grp_2_dedup, how='left', on=['repm_vin'], indicator = True)

#Use the above df for used car service feature using the codes below

In [32]:
print("used_car_1_serv_hist :", used_car_1_serv_hist.shape)
print("used_car_2_serv_hist :", used_car_2_serv_hist.shape)

used_car_1_serv_hist : (979526, 19)
used_car_2_serv_hist : (644382, 19)

In [33]:
print("used_car_1_serv_hist :", used_car_1_serv_hist.shape)
used_car_1_serv_hist['_merge'].value_counts()

used_car_1_serv_hist : (979526, 19)

both          598285
left_only     381241
right_only         0
Name: _merge, dtype: int64

In [34]:
print("used_car_2_serv_hist :", used_car_2_serv_hist.shape)
used_car_2_serv_hist['_merge'].value_counts()

used_car_2_serv_hist : (644382, 19)

both          511305
left_only     133077
right_only         0
Name: _merge, dtype: int64

**Testing with the existing variable**

In [35]:
print(cust_grp_noused.shape)
print(cust_grp_noused.used_vin.value_counts())
cust_grp_noused.head(2)

(1703479, 13)
False    1703479
Name: used_vin, dtype: int64

,con_id,con_id_x,con_id_y,phone_no,repm_vin,ser_ph_grp,service_phone,unique_cust_grp,vin_grp,Target,used_1,used_2,used_vin
0,NaN,1-29OZ-1503,1-29OZ-1503,9.89111e+09,MALAA51HR5M700082,1316486,9891112121,0,566852,0,False,False,False
1,NaN,1-29OE-2971,1-29OE-2971,2.5012e+09,MALAA51HR5M700158,235,2501201900,1,566853,0,False,False,False

In [36]:
len(used_vin_list)

127379

In [37]:
used_car_rcrepm.shape

(33744535, 15)

In [38]:
# Testing on existing variable
serv_noused_test1 = used_car_rcrepm[used_car_rcrepm['used_car_sale_date'].isnull()]
display(serv_noused_test1.shape)

(32171981, 15)

In [39]:
serv_noused_test2 =serv_noused_test1[~serv_noused_test1.repm_vin.isin(used_vin_list)]
print(serv_noused_test2.shape)
serv_noused_test2.head(2)

(32171981, 15)

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date
0,N3208,C2008020258,R201708673,2017-07-29 10:10:50,MALCG51WR6M015343,OC,NaN,0.00,0.00,0.00,NaT,20060629,2006,81635,NaT
1,W2213,C2008030086,R201610998,2016-11-16 17:14:46,MALCG51WR6M015479,OC,NaN,0.00,0.00,0.00,NaT,20061128,2006,75950,NaT

**Feature engineering for not used customer group for one partition data. The below needs to be repeated for all partiotined data**

#Merge service data with unique customer group
cust_grp_1 = pd.read_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data\\cust_grp_noused_1.csv', low_memory=False)

In [40]:
#Merge service data with unique customer group
cust_grp_1 = cust_grp_noused
serv_grp_1 = serv_noused_test2

In [41]:
# Check data sanity
print("cust_grp_1.unique_cust_grp.unique:", len(cust_grp_1.unique_cust_grp.unique()))
print("cust_grp_1.repm_vin.unique: ",len(cust_grp_1.repm_vin.unique()))
print("serv_grp_1.repm_vin.unique: ",len(serv_grp_1.repm_vin.unique()))
print("serv_grp_1.shape: ",serv_grp_1.shape)
cust_grp_1_dict = pd.Series(cust_grp_1['unique_cust_grp'].values, index=cust_grp_1['repm_vin']).to_dict()
serv_grp_1['unique_cust_grp'] = serv_grp_1.repm_vin.map(cust_grp_1_dict)
print("serv_grp_1.shape",serv_grp_1.shape)

cust_grp_1.unique_cust_grp.unique: 1244941
cust_grp_1.repm_vin.unique:  1329223
serv_grp_1.repm_vin.unique:  5193039
serv_grp_1.shape:  (32171981, 15)
serv_grp_1.shape (32171981, 16)

In [42]:
grp_1_vin_age = serv_noused_test2
print(grp_1_vin_age.shape)
grp_1_vin_age.head(2)

(32171981, 16)

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp
0,N3208,C2008020258,R201708673,2017-07-29 10:10:50,MALCG51WR6M015343,OC,NaN,0.00,0.00,0.00,NaT,20060629,2006,81635,NaT,NaN
1,W2213,C2008030086,R201610998,2016-11-16 17:14:46,MALCG51WR6M015479,OC,NaN,0.00,0.00,0.00,NaT,20061128,2006,75950,NaT,NaN

In [43]:
grp_1_vin_age.isnull().sum()

repm_dlr_code                      0
repm_cust_no                 1102926
repm_ro_no                         0
repm_ro_dtime                      0
repm_vin                           0
repm_work_type                    18
repm_vst_type               28028731
repm_bill_total_labr_amt           0
repm_bill_total_othr_amt           0
repm_bill_total_part_amt           0
vinm_selling_date           32171981
vinm_sale_date                 24273
vinm_model_year                15355
vinm_last_milg                     0
used_car_sale_date          32171981
unique_cust_grp             22744826
dtype: int64

grp_1_vin_age['vinm_model_year'] = pd.DatetimeIndex(grp_1_vin_age['vinm_sale_date'].map(lambda x:str(x)[0:4]), errors = 'coerce').year

In [44]:
# Merging with car age
#grp_1_vin_age = pd.read_csv('D:/Referral/Cust_grp_splits/serv_noused_1_vin_age.csv', low_memory=False)
vin_age_map = pd.Series(grp_1_vin_age.vinm_model_year.values,index = grp_1_vin_age.repm_vin).to_dict()
serv_grp_1['car_model_year'] = serv_grp_1.repm_vin.map(vin_age_map)

In [45]:
display(serv_grp_1.shape)
display(serv_grp_1.columns)
display(serv_grp_1.car_model_year.isnull().sum())

(32171981, 17)

Index(['repm_dlr_code', 'repm_cust_no', 'repm_ro_no', 'repm_ro_dtime',
       'repm_vin', 'repm_work_type', 'repm_vst_type',
       'repm_bill_total_labr_amt', 'repm_bill_total_othr_amt',
       'repm_bill_total_part_amt', 'vinm_selling_date', 'vinm_sale_date',
       'vinm_model_year', 'vinm_last_milg', 'used_car_sale_date',
       'unique_cust_grp', 'car_model_year'],
      dtype='object')

15355

In [46]:
serv_grp_1['car_model_year'].dtypes

dtype('O')

In [47]:
serv_grp_1['car_model_year'] = pd.to_numeric(serv_grp_1['car_model_year'])

In [48]:
serv_grp_1['Purchase_Age'] = (2020 - serv_grp_1['car_model_year']) #Calculate car age replace 0 years with 1 year
serv_grp_1['Purchase_Age'] = np.where(serv_grp_1['Purchase_Age']==0, 1, serv_grp_1['Purchase_Age'])
serv_grp_1 = serv_grp_1.drop_duplicates(subset=['repm_dlr_code', 'repm_cust_no', 'repm_vin', 'repm_ro_dtime',
                                  'repm_work_type'])

#removed repm milg from original code -- this variable is present in the ser_rcrepm_tb_0_10L files.
#serv_grp_1 = serv_grp_1.drop_duplicates(subset=['repm_dlr_code', 'repm_cust_no', 'repm_vin', 'repm_ro_dtime',
#                                  'repm_work_type', 'repm_milg'])

In [49]:
display(serv_grp_1.shape)
serv_grp_1 = serv_grp_1[serv_grp_1.car_model_year.notnull()] #Remove rows where car age is not present
display(serv_grp_1.shape)

(32153653, 18)

(32138345, 18)

In [50]:
serv_grp_1['repm_ro_dtime'] = pd.to_datetime(serv_grp_1['repm_ro_dtime'])
serv_grp_1 = serv_grp_1.sort_values(['unique_cust_grp', 'repm_vin', 'repm_work_type', 'repm_ro_dtime'], ascending = [True,
                                                                                                                     True,
                                                                                                                    True, False])

In [51]:
print(serv_grp_1.shape)
serv_grp_1.head(2)

(32138345, 18)

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age
7995749,N1201,C2005100362,R201932851,2019-11-28 09:18:30,MALAA51HR5M700082,PS,P,5974.34,0.00,7910.51,NaT,20051016,2005,64235,NaT,0,2005.0,15.0
7995751,N1201,C2005100362,R201900002,2019-01-02 08:51:38,MALAA51HR5M700082,PS,NaN,2837.90,0.00,1457.20,NaT,20051016,2005,64235,NaT,0,2005.0,15.0

In [52]:
display(serv_grp_1.repm_work_type.value_counts())
display(serv_grp_1.head())

RR    8806091
PS    8214255
FS    6818509
AR    3854565
PD    1884582
OC    1863201
AC     645721
MT      43813
RM       4153
UF       3200
RA        237
Name: repm_work_type, dtype: int64

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age
7995749,N1201,C2005100362,R201932851,2019-11-28 09:18:30,MALAA51HR5M700082,PS,P,5974.34,0.00,7910.51,NaT,20051016,2005,64235,NaT,0,2005.0,15.0
7995751,N1201,C2005100362,R201900002,2019-01-02 08:51:38,MALAA51HR5M700082,PS,NaN,2837.90,0.00,1457.20,NaT,20051016,2005,64235,NaT,0,2005.0,15.0
7995750,N1201,C2005100362,R201804504,2018-02-18 08:52:00,MALAA51HR5M700082,PS,NaN,4652.74,1180.00,3717.26,NaT,20051016,2005,64235,NaT,0,2005.0,15.0
7995746,N1201,C2005100362,R201708463,2017-04-01 08:36:57,MALAA51HR5M700082,PS,NaN,3075.12,0.00,3192.83,NaT,20051016,2005,64235,NaT,0,2005.0,15.0
7995752,N1201,C2005100362,R201616534,2016-07-07 08:35:00,MALAA51HR5M700082,PS,NaN,2969.32,0.00,10145.90,NaT,20051016,2005,64235,NaT,0,2005.0,15.0

In [53]:
serv_grp_1.sort_values(['repm_vin', 'repm_ro_dtime'], ascending = [True, False], inplace = True)
serv_grp_1.head()

,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age
10098774,N2212,B2010090010,R201813137,2018-11-24 15:03:46,00000000000037519,RR,NaN,0.00,0.00,0.00,NaT,20000113,1999,200394,NaT,NaN,1999.0,21.0
9351338,N6208,S2012070002,R201605202,2016-05-24 12:23:36,00000000000207962,RR,NaN,0.00,0.00,0.00,NaT,20031125,2003,79425,NaT,NaN,2003.0,17.0
13355686,S5208,B2012040014,R201720814,2017-12-28 10:59:00,00000000000236380,RR,NaN,0.00,0.00,0.00,NaT,20040129,2004,82569,NaT,NaN,2004.0,16.0
27086235,S5219,S2013050004,R202001830,2020-06-24 00:00:00,00000000001117907,RR,NaN,0.00,0.00,0.00,NaT,20120530,2008,27000,NaT,NaN,2008.0,12.0
13150439,N2201,B2011060030,R201806287,2018-07-24 15:28:00,00000000001370274,PS,NaN,0.00,0.00,0.00,NaT,19991018,1999,108377,NaT,NaN,1999.0,21.0

In [54]:
serv_grp_1.reset_index(inplace = True)

In [55]:
serv_grp_1['day_diff'] = serv_grp_1.groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

In [56]:
serv_grp_1.head(2)

,index,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age,day_diff
0,10098774,N2212,B2010090010,R201813137,2018-11-24 15:03:46,00000000000037519,RR,NaN,0.00,0.00,0.00,NaT,20000113,1999,200394,NaT,NaN,1999.0,21.0,NaT
1,9351338,N6208,S2012070002,R201605202,2016-05-24 12:23:36,00000000000207962,RR,NaN,0.00,0.00,0.00,NaT,20031125,2003,79425,NaT,NaN,2003.0,17.0,NaT

In [57]:
serv_grp_1['day_diff'] = serv_grp_1['day_diff'].dt.days
serv_grp_1.head(3)

,index,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,repm_bill_total_part_amt,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age,day_diff
0,10098774,N2212,B2010090010,R201813137,2018-11-24 15:03:46,00000000000037519,RR,NaN,0.00,0.00,0.00,NaT,20000113,1999,200394,NaT,NaN,1999.0,21.0,NaN
1,9351338,N6208,S2012070002,R201605202,2016-05-24 12:23:36,00000000000207962,RR,NaN,0.00,0.00,0.00,NaT,20031125,2003,79425,NaT,NaN,2003.0,17.0,NaN
2,13355686,S5208,B2012040014,R201720814,2017-12-28 10:59:00,00000000000236380,RR,NaN,0.00,0.00,0.00,NaT,20040129,2004,82569,NaT,NaN,2004.0,16.0,NaN

In [58]:
serv_grp_1_x = serv_grp_1.groupby('repm_vin')['repm_ro_dtime'].apply(lambda x: x.max()-x.min()).reset_index().rename(
    columns={'repm_ro_dtime': 'service_age_vin'})

In [59]:
print(serv_grp_1_x.shape)
serv_grp_1_x.head(3)

(5190368, 2)

            repm_vin service_age_vin
0  00000000000037519          0 days
1  00000000000207962          0 days
2  00000000000236380          0 days

In [60]:
serv_grp_1_x['service_age_vin'] = serv_grp_1_x['service_age_vin']/np.timedelta64(1,'D')
serv_grp_1_x.head()

            repm_vin  service_age_vin
0  00000000000037519              0.0
1  00000000000207962              0.0
2  00000000000236380              0.0
3  00000000001117907              0.0
4  00000000001370274              0.0

In [61]:
serv_grp_1 = pd.merge(serv_grp_1, serv_grp_1_x, how = 'left', on = ['repm_vin'])
#del(serv_grp_1_x)
serv_grp_1.head(3)

,index,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,...,vinm_selling_date,vinm_sale_date,vinm_model_year,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age,day_diff,service_age_vin
0,10098774,N2212,B2010090010,R201813137,2018-11-24 15:03:46,00000000000037519,RR,NaN,0.00,0.00,...,NaT,20000113,1999,200394,NaT,NaN,1999.0,21.0,NaN,0.0
1,9351338,N6208,S2012070002,R201605202,2016-05-24 12:23:36,00000000000207962,RR,NaN,0.00,0.00,...,NaT,20031125,2003,79425,NaT,NaN,2003.0,17.0,NaN,0.0
2,13355686,S5208,B2012040014,R201720814,2017-12-28 10:59:00,00000000000236380,RR,NaN,0.00,0.00,...,NaT,20040129,2004,82569,NaT,NaN,2004.0,16.0,NaN,0.0

In [62]:
print(serv_grp_1.shape)
print(serv_grp_1.columns)

(32138345, 21)
Index(['index', 'repm_dlr_code', 'repm_cust_no', 'repm_ro_no', 'repm_ro_dtime',
       'repm_vin', 'repm_work_type', 'repm_vst_type',
       'repm_bill_total_labr_amt', 'repm_bill_total_othr_amt',
       'repm_bill_total_part_amt', 'vinm_selling_date', 'vinm_sale_date',
       'vinm_model_year', 'vinm_last_milg', 'used_car_sale_date',
       'unique_cust_grp', 'car_model_year', 'Purchase_Age', 'day_diff',
       'service_age_vin'],
      dtype='object')

In [24]:
# Reading table refrl_ser_rcrepm_tb_final
cursor_1.execute('select repm_dlr_no, repm_ro_no, repm_vin, repm_cust_no, repm_ro_stat, repm_estmt_no, repm_work_type,  repm_milg, repm_estmt_amt, repm_ro_dtime, repm_bill_total_part_amt, repm_bill_total_labr_amt, repm_bill_total_othr_amt, repm_total_labr_amt, repm_total_part_amt, repm_total_othr_amt, repm_vst_type, repm_vst_type_seq_no, repm_rmkrs, repm_crte_dtime, repm_prvs_milg, repm_used_flag, repm_byng_dlr_code, repm_no_details, repm_ro_stat_new, repm_work_category, repm_dlr_code, repm_exit_milg, repm_file_doc_id, repm_ro_mobile_flag, model from refrl_ser_rcrepm_tb_final where repm_ro_dtime >= "2018-01-01" and repm_ro_dtime <= "2020-12-31"')
refrl_ser_rcrepm_tb = as_pandas(cursor_1)

select repm_dlr_no, repm_ro_no, repm_vin, repm_cust_no, repm_ro_stat, repm_estmt_no, repm_work_type,  repm_milg, repm_estmt_amt, repm_ro_dtime, repm_bill_total_part_amt, repm_bill_total_labr_amt, repm_bill_total_othr_amt, repm_total_labr_amt, repm_total_part_amt, repm_total_othr_amt, repm_vst_type, repm_vst_type_seq_no, repm_rmkrs, repm_crte_dtime, repm_prvs_milg, repm_used_flag, repm_byng_dlr_code, repm_no_details, repm_ro_stat_new, repm_work_category, repm_dlr_code, repm_exit_milg, repm_file_doc_id, repm_ro_mobile_flag, model from refrl_ser_rcrepm_tb_final where repm_ro_dtime >= "2018-01-01" and repm_ro_dtime <= "2020-12-31"')
refrl_ser_rcrepm_tb = as_pandas(cursor_1)

In [25]:
refrl_ser_rcrepm_tb = refrl_ser_rcrepm_tb.replace("null", np.nan)

In [63]:
refrl_ser_rcrepm_tb.shape

(21195039, 31)

In [64]:
refrl_ser_rcrepm_tb.head(3)

,repm_dlr_no,repm_ro_no,repm_vin,repm_cust_no,repm_ro_stat,repm_estmt_no,repm_work_type,repm_milg,repm_estmt_amt,repm_ro_dtime,...,repm_used_flag,repm_byng_dlr_code,repm_no_details,repm_ro_stat_new,repm_work_category,repm_dlr_code,repm_exit_milg,repm_file_doc_id,repm_ro_mobile_flag,model
0,S7207,R201800454,MALCH41CR1M034876,C2018010143,D,NaN,RR,106479,100.00,2018-01-06 15:20:00,...,N,NaN,NaN,UR,N,S7207,NaN,NaN,NaN,Accent
1,S8408,R201909642,MALCH41CR2M043607,C2005100076,D,NaN,OC,111021,0.00,2019-07-22 15:13:10,...,N,NaN,NaN,UR,NaN,S8408,111022.0,NaN,NaN,Accent
2,S8408,R201810257,MALCH41CR2M043607,C2005100076,D,NaN,OC,110900,0.00,2018-08-23 14:57:00,...,N,NaN,NaN,AD,N,S8408,NaN,NaN,NaN,Accent

In [70]:
serv_grp_1.columns

Index(['index', 'repm_dlr_code', 'repm_cust_no', 'repm_ro_no', 'repm_ro_dtime',
       'repm_vin', 'repm_work_type', 'repm_vst_type',
       'repm_bill_total_labr_amt', 'repm_bill_total_othr_amt',
       'repm_bill_total_part_amt', 'vinm_selling_date', 'vinm_sale_date',
       'vinm_model_year', 'vinm_last_milg', 'used_car_sale_date',
       'unique_cust_grp', 'car_model_year', 'Purchase_Age', 'day_diff',
       'service_age_vin', 'repm_estmt_amt', 'repm_prvs_milg', 'repm_milg'],
      dtype='object')

In [66]:
serv_grp_1 = pd.merge(serv_grp_1, refrl_ser_rcrepm_tb[['repm_vin','repm_estmt_amt','repm_prvs_milg','repm_milg']], how ='left', on ='repm_vin')

serv_grp_1 = pd.merge(serv_grp_1, refrl_ser_rcrepm_tb[['repm_vin']], how='left', left_on = 'repm_vin',right_on ='repm_vin',indicator=True)

In [67]:
serv_grp_1.head()

,index,repm_dlr_code,repm_cust_no,repm_ro_no,repm_ro_dtime,repm_vin,repm_work_type,repm_vst_type,repm_bill_total_labr_amt,repm_bill_total_othr_amt,...,vinm_last_milg,used_car_sale_date,unique_cust_grp,car_model_year,Purchase_Age,day_diff,service_age_vin,repm_estmt_amt,repm_prvs_milg,repm_milg
0,10098774,N2212,B2010090010,R201813137,2018-11-24 15:03:46,00000000000037519,RR,NaN,0.00,0.00,...,200394,NaT,NaN,1999.0,21.0,NaN,0.0,0.00,0.0,200397.0
1,9351338,N6208,S2012070002,R201605202,2016-05-24 12:23:36,00000000000207962,RR,NaN,0.00,0.00,...,79425,NaT,NaN,2003.0,17.0,NaN,0.0,NaN,NaN,NaN
2,13355686,S5208,B2012040014,R201720814,2017-12-28 10:59:00,00000000000236380,RR,NaN,0.00,0.00,...,82569,NaT,NaN,2004.0,16.0,NaN,0.0,NaN,NaN,NaN
3,27086235,S5219,S2013050004,R202001830,2020-06-24 00:00:00,00000000001117907,RR,NaN,0.00,0.00,...,27000,NaT,NaN,2008.0,12.0,NaN,0.0,0.00,27000.0,27000.0
4,13150439,N2201,B2011060030,R201806287,2018-07-24 15:28:00,00000000001370274,PS,NaN,0.00,0.00,...,108377,NaT,NaN,1999.0,21.0,NaN,0.0,0.00,0.0,109262.0

In [ ]:
del(serv_grp_1_x)

In [71]:
def serv_hist(df):
    df['Diff_estimate_bill'] = df['repm_estmt_amt'] - df['billable_amount']
    df['Milg_diff_vin'] = df['repm_milg'] - df['repm_prvs_milg']
    df['total_service_count_vin'] = df.repm_vin.map(df.groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['FS_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='FS')|
                                            (df['repm_work_type']=='UF')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['FS_count_vin_norm'] = df['FS_count_vin']/df['Purchase_Age']
    df['PS_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='PS')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['PS_count_vin_norm'] = df['PS_count_vin']/df['Purchase_Age']
    df['RR_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='RR')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['RR_count_vin_norm'] = df['RR_count_vin']/df['Purchase_Age']
    df['AR_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='AR')|
                            (df['repm_work_type']=='RA')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['AR_count_vin_norm'] = df['AR_count_vin']/df['Purchase_Age']
    df['OC_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='OC')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['OC_count_vin_norm'] = df['OC_count_vin']/df['Purchase_Age']
    return df

In [ ]:
serv_grp_1['billable_amount'] = serv_grp_1['repm_bill_total_labr_amt'] + serv_grp_1['repm_bill_total_othr_amt'] + serv_grp_1['repm_bill_total_part_amt']

In [ ]:
list(serv_grp_1.columns)

In [ ]:
serv_grp_1_tst = serv_hist(serv_grp_1)

In [ ]:
print(serv_grp_1_tst.shape)
print(serv_grp_1_tst.columns)
serv_grp_1_tst.head(3)

In [ ]:
serv_grp_1_tst = serv_grp_1_tst.sort_values(['unique_cust_grp', 'repm_vin', 'repm_ro_dtime'], ascending = [True, True, False])

In [ ]:
serv_grp_1_tst['repm_work_type'].value_counts()

In [ ]:
serv_grp_1_tst['FS_mlg_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='FS')|
                                               (serv_grp_1_tst['repm_work_type']=='UF')].groupby(['repm_vin'])['repm_milg'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['PS_mlg_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='PS')].groupby(['repm_vin'])['repm_milg'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['RR_mlg_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='RR')].groupby(['repm_vin'])['repm_milg'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['OC_mlg_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='OC')].groupby(['repm_vin'])['repm_milg'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['AR_mlg_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='AR')|
                                             (serv_grp_1_tst['repm_work_type']=='RA')].groupby(['repm_vin'])['repm_milg'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['FS_day_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='FS')|
                                               (serv_grp_1_tst['repm_work_type']=='UF')].groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['PS_day_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='PS')].groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['RR_day_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='RR')].groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['OC_day_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='OC')].groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

serv_grp_1_tst['AR_day_diff'] = serv_grp_1_tst[(serv_grp_1_tst['repm_work_type']=='AR')|
                                             (serv_grp_1_tst['repm_work_type']=='RA')].groupby(['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))

In [ ]:
serv_grp_1_tst['FS_day_diff'] = serv_grp_1_tst['FS_day_diff']/np.timedelta64(1,'D')
serv_grp_1_tst['PS_day_diff'] = serv_grp_1_tst['PS_day_diff']/np.timedelta64(1,'D')
serv_grp_1_tst['RR_day_diff'] = serv_grp_1_tst['RR_day_diff']/np.timedelta64(1,'D')
serv_grp_1_tst['OC_day_diff'] = serv_grp_1_tst['OC_day_diff']/np.timedelta64(1,'D')
serv_grp_1_tst['AR_day_diff'] = serv_grp_1_tst['AR_day_diff']/np.timedelta64(1,'D')

In [ ]:
def flat(df):
    df.columns = [' '.join(col).strip() for col in df.columns.values]
    return df

In [ ]:
serv_feat_noused_1 = serv_grp_1_tst.groupby('unique_cust_grp').agg({'FS_mlg_diff': ['mean', 'median', 'min', 'max'],
                                                             'PS_mlg_diff': ['mean', 'median', 'min', 'max'],
                                                             'RR_mlg_diff': ['mean', 'median', 'min', 'max'],
                                                              'OC_mlg_diff': ['mean', 'median', 'min', 'max'],
                                                             'AR_mlg_diff': ['mean', 'median', 'min', 'max'],
                                                              'Milg_diff_vin':['mean', 'median', 'min', 'max'],
                                                              'billable_amount': ['mean', 'median', 'min', 'max'],
                                                             'Diff_estimate_bill': ['mean', 'median', 'min', 'max'],                                                                    
                                                             'FS_day_diff': ['mean', 'median', 'min', 'max'],
                                                             'PS_day_diff': ['mean', 'median', 'min', 'max'],
                                                             'RR_day_diff': ['mean', 'median', 'min', 'max'],
                                                             'OC_day_diff': ['mean', 'median', 'min', 'max'],
                                                             'AR_day_diff': ['mean', 'median', 'min', 'max'],
                                                             'FS_count_vin_norm':['mean', 'median', 'min', 'max'],
                                                             'PS_count_vin_norm': ['mean', 'median', 'min', 'max'],
                                                             'RR_count_vin_norm': ['mean', 'median', 'min', 'max'],
                                                             'OC_count_vin_norm': ['mean', 'median', 'min', 'max'],
                                                             'AR_count_vin_norm': ['mean', 'median', 'min', 'max'],
                                                             'FS_count_vin':['mean', 'median', 'min', 'max'],
                                                             'PS_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'RR_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'OC_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'AR_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'repm_vin': pd.Series.nunique,
                                                             'Purchase_Age': 'mean',
                                                             'service_age_vin': 'mean'
                                                             }).reset_index()

In [ ]:
print(serv_feat_noused_1.shape)
serv_feat_noused_1.head()

In [ ]:
serv_feat_noused_1 = flat(serv_feat_noused_1)
display(serv_feat_noused_1.head())

In [ ]:
split(serv_feat_noused_1,'serv_feat_noused_1')

**Repeat visit and recent visit analysis**

In [ ]:
cust_grp_1 = pd.read_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\cust_grp_noused_1.csv', low_memory=False)

# serv_grp_1 = serv_noused_1
# Replace serv_grp_1 here with serv_noused_1 as we have performed operations on serv_grp_1 in earlier cells
# Hence again reinitiate serv_grp_1 = serv_noused_1
#serv_grp_1 = pd.read_csv('D:/Referral/Cust_grp_splits/serv_noused_1.csv', low_memory=False)

In [ ]:
## complete set of code is already execute in above 
#cust_grp_1 = pd.read_csv('D:/Referral/Cust_grp_splits/cust_grp_noused_1.csv', low_memory=False)
#serv_grp_1 = pd.read_csv('D:/Referral/Cust_grp_splits/serv_noused_1.csv', low_memory=False)
cust_grp_1_dict = pd.Series(cust_grp_1['unique_cust_grp'].values, index=cust_grp_1['repm_vin']).to_dict()
serv_grp_1['unique_cust_grp'] = serv_grp_1.repm_vin.map(cust_grp_1_dict)
del(cust_grp_1)
serv_grp_1 = serv_grp_1.drop_duplicates(subset=['repm_dlr_code', 'repm_cust_no', 'repm_vin', 'repm_ro_dtime',
                                  'repm_work_type', 'repm_milg'])
serv_grp_1['repm_ro_dtime'] = pd.to_datetime(serv_grp_1['repm_ro_dtime'])
serv_grp_1 = serv_grp_1.sort_values(['unique_cust_grp', 'repm_vin', 'repm_work_type', 'repm_ro_dtime'], ascending=[True, 
                                                                                                                  True, True,
                                                                                                                  False])
serv_grp_1['year'] = serv_grp_1['repm_ro_dtime'].dt.year

serv_grp_1['day_diff'] = serv_grp_1.sort_values(['repm_vin', 'repm_ro_dtime'], ascending=[True,False]).groupby(
    ['repm_vin'])['repm_ro_dtime'].apply(lambda x: x - x.shift(-1))
serv_grp_1['day_diff'] = serv_grp_1['day_diff'].dt.days

In [ ]:
display(serv_grp_1.columns)

In [ ]:
split(serv_grp_1, "serv_grp_1")

In [ ]:
serv_grp_1['Repeat_visit_month'] = np.where((serv_grp_1['day_diff']<30), True, False)

In [ ]:
serv_grp_1['Repeat_visit_three_month'] = np.where((serv_grp_1['day_diff']<100), True, False)

In [ ]:
display(serv_grp_1['Repeat_visit_month'].value_counts())
display(serv_grp_1['Repeat_visit_three_month'].value_counts())

In [ ]:
serv_rv_three_flags = serv_grp_1[serv_grp_1['Repeat_visit_three_month']==True].groupby('unique_cust_grp')['repm_ro_dtime'].count().reset_index()
serv_count_one_yr = serv_grp_1[serv_grp_1['repm_ro_dtime']>='2018-06-01'].groupby('unique_cust_grp')['repm_ro_dtime'].count().reset_index()
serv_count_three_yr = serv_grp_1[serv_grp_1['repm_ro_dtime']>='2016-06-01'].groupby('unique_cust_grp')['repm_ro_dtime'].count().reset_index()

In [ ]:
print(serv_rv_three_flags.shape)
serv_rv_three_flags.tail(3)

In [ ]:
print(serv_count_one_yr.shape)
serv_count_one_yr.tail(3)

In [ ]:
print(serv_count_three_yr.shape)
serv_count_three_yr.tail(3)

In [ ]:
serv_rv_yrly_count = serv_grp_1[serv_grp_1['Repeat_visit_month']==True].groupby(['unique_cust_grp', 'car_model_year'])['repm_ro_dtime'].count().reset_index()

serv_rv_one_yr_count = serv_rv_yrly_count.groupby('unique_cust_grp').agg({'repm_ro_dtime': ['mean', 'max', 'median', 'min']}).reset_index()
serv_day_diff_count = serv_grp_1.groupby('unique_cust_grp').agg({'day_diff': ['mean', 'max', 'median', 'min']}).reset_index()

In [ ]:
print(serv_rv_yrly_count.shape)
serv_rv_yrly_count.tail(3)

In [ ]:
print(serv_rv_one_yr_count.shape)
serv_rv_one_yr_count.tail(3)

In [ ]:
print(serv_day_diff_count.shape)
serv_day_diff_count.tail(3)

In [ ]:
def flat(df):
    df.columns = [' '.join(col).strip() for col in df.columns.values]
    return df

In [ ]:
serv_rv_one_yr_count = flat(serv_rv_one_yr_count)
serv_rv_one_yr_count.tail(3)

In [ ]:
serv_day_diff_count = flat(serv_day_diff_count)
serv_day_diff_count.tail(3)

In [ ]:
serv_rv_three_flags_dict = pd.Series(serv_rv_three_flags['repm_ro_dtime'].values, index=serv_rv_three_flags['unique_cust_grp']).to_dict()
serv_count_one_yr_dict = pd.Series(serv_count_one_yr['repm_ro_dtime'].values, index=serv_count_one_yr['unique_cust_grp']).to_dict()
serv_count_three_yr_dict = pd.Series(serv_count_three_yr['repm_ro_dtime'].values, index=serv_count_three_yr['unique_cust_grp']).to_dict()

In [ ]:
#serv_grp_1['rv_3_count'] = serv_grp_1.unique_cust_grp.map(serv_rv_one_flags_dict).fillna(0)
serv_grp_1['rv_3_count'] = serv_grp_1.unique_cust_grp.map(serv_rv_three_flags_dict).fillna(0)
serv_grp_1['serv_count_last_one'] = serv_grp_1.unique_cust_grp.map(serv_count_one_yr_dict).fillna(0)
serv_grp_1['serv_count_last_three'] = serv_grp_1.unique_cust_grp.map(serv_count_three_yr_dict).fillna(0)

In [ ]:
serv_rv_feat_1 = serv_grp_1.drop_duplicates(subset=['unique_cust_grp'])[['unique_cust_grp', 'rv_3_count', 'serv_count_last_one','serv_count_last_three']]

In [ ]:
print(serv_rv_feat_1.shape)
serv_rv_feat_1.tail(3)

In [ ]:
serv_rv_feat_2 = pd.merge(serv_rv_feat_1, serv_rv_one_yr_count, how='left', on=['unique_cust_grp']).rename(columns={
    'repm_ro_dtime mean': 'yearly_rv_3_count mean', 'repm_ro_dtime max': 'yearly_rv_3_count max',
    'repm_ro_dtime min': 'yearly_rv_3_count min', 'repm_ro_dtime median': 'yearly_rv_3_count median'
}).fillna(0)

In [ ]:
print(serv_rv_feat_2.shape)
serv_rv_feat_2.tail(3)

In [ ]:
serv_rv_feat = pd.merge(serv_rv_feat_2, serv_day_diff_count, how='left', on=['unique_cust_grp'])

In [ ]:
print(serv_rv_feat.shape)
serv_rv_feat.tail(3)

In [ ]:
serv_rv_feat.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\rv_feat_noused_1.dsv', index = False, encoding='utf-8')

In [ ]:
serv_rv_feat.to_csv('rv_feat_noused_1.csv', index = False, encoding='utf-8')

**Service dealer history**

cust_grp_1 = pd.read_csv('cust_grp_noused_1.csv', low_memory=False)
serv_grp_1 = pd.read_csv('serv_noused_1.csv', low_memory=False)
#used_cust_grp_1 = used_cust_grp_1

In [ ]:
cust_grp_1 = pd.read_csv('cust_grp_noused_1.csv', low_memory=False)

In [ ]:
cust_grp_1_dict = pd.Series(cust_grp_1['unique_cust_grp'].values, index=cust_grp_1['repm_vin']).to_dict()
serv_grp_1['unique_cust_grp'] = serv_grp_1.repm_vin.map(cust_grp_1_dict)

In [ ]:
serv_grp_1 = serv_grp_1.drop_duplicates(subset=['repm_dlr_code', 'repm_cust_no', 'repm_vin', 'repm_ro_dtime',
                                  'repm_work_type', 'repm_milg'])

In [ ]:
display(serv_grp_1.shape)

In [ ]:
serv_grp_1['repm_ro_dtime'] = pd.to_datetime(serv_grp_1['repm_ro_dtime'])

In [ ]:
serv_grp_1 = serv_grp_1.sort_values(['unique_cust_grp', 'repm_vin', 'repm_work_type', 'repm_ro_dtime'], ascending=[True, 
                                                                                                                  True, True,
                                                                                                                      False])

In [ ]:
def dlr_count(df):
    df['FS_dlr_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='FS')|
                                            (df['repm_work_type']=='UF')].groupby('repm_vin')['repm_dlr_code'].nunique())
    
    df['MS_dlr_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='PS')|
                                            (df['repm_work_type']=='RR')|
                                            (df['repm_work_type']=='RM')].groupby('repm_vin')['repm_dlr_code'].nunique())
    df['AR_dlr_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='AR')|
                                            (df['repm_work_type']=='RA')].groupby('repm_vin')['repm_dlr_code'].nunique())
    df['Total_dlr_count_vin'] = df.repm_vin.map(df.groupby('repm_vin')['repm_dlr_code'].nunique())
    df['FS_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='FS')|
                                            (df['repm_work_type']=='UF')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['MS_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='PS')|
                            (df['repm_work_type']=='RR')|
                           (df['repm_work_type']=='RM')].groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['AR_count_vin'] = df.repm_vin.map(df[(df['repm_work_type']=='AR')|
                            (df['repm_work_type']=='RA')].groupby('repm_vin')['repm_ro_dtime'].nunique())    
    df['Total_serv_count_vin'] = df.repm_vin.map(df.groupby('repm_vin')['repm_ro_dtime'].nunique())
    df['FS_dealer_loyalty_vin'] = df['FS_count_vin']/df['FS_dlr_count_vin']
    df['MS_dealer_loyalty_vin'] = df['MS_count_vin']/df['MS_dlr_count_vin']
    df['AR_dealer_loyalty_vin'] = df['AR_count_vin']/df['AR_dlr_count_vin']
    df['Overall_dealer_loyalty_vin'] = df['Total_serv_count_vin']/df['Total_dlr_count_vin']
    
    return df

In [ ]:
max_service_dlr = serv_grp_1.groupby('unique_cust_grp')['repm_dlr_code'].apply(max).reset_index().rename(
columns={'repm_dlr_code': 'Max_service_dlr_code'})

In [ ]:
print(max_service_dlr.shape)
max_service_dlr.tail(3)

In [ ]:
max_dlr_dict = pd.Series(max_service_dlr['Max_service_dlr_code'].values, index=max_service_dlr['unique_cust_grp']).to_dict()
serv_grp_1 = dlr_count(serv_grp_1)

In [ ]:
print(serv_grp_1.shape)
print(serv_grp_1.columns)
serv_grp_1.head()

In [ ]:
split(serv_grp_1,"serv_grp_1_bfr_dlr")

In [ ]:
serv_grp_1.to_csv('serv_grp_1_bfr_dlr.csv', encoding='utf-8', index=False)

In [ ]:
serv_grp_1_dlr = serv_grp_1.groupby('unique_cust_grp').agg({'FS_dlr_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'MS_dlr_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'AR_dlr_count_vin': ['mean', 'median', 'min', 'max'],
                                                             'repm_dlr_code': pd.Series.nunique,
                                                              'Total_dlr_count_vin': ['mean', 'median', 'min', 'max'],
                                                              'FS_dealer_loyalty_vin': ['mean', 'median', 'min', 'max'],
                                                               'MS_dealer_loyalty_vin': ['mean', 'median', 'min', 'max'],
                                                                'AR_dealer_loyalty_vin': ['mean', 'median', 'min', 'max'],
                                                                'Overall_dealer_loyalty_vin': ['mean', 'median', 'min', 'max'],
                                                             'repm_vin': pd.Series.nunique,
                                                              'repm_ro_dtime': pd.Series.nunique,}).reset_index().rename(
columns={'repm_dlr_code': 'Total_dealer_count', 'repm_ro_dtime': 'Total_service_count'})

In [ ]:
print(serv_grp_1_dlr.shape)
print(serv_grp_1_dlr.columns)
serv_grp_1_dlr.head()

In [ ]:
def flat(df):
    df.columns = [' '.join(col).strip() for col in df.columns.values]
    return df

In [ ]:
serv_grp_1_dlr = flat(serv_grp_1_dlr)

In [ ]:
print(serv_grp_1_dlr.shape)
print(serv_grp_1_dlr.columns)
serv_grp_1_dlr.head()

In [ ]:
serv_grp_1_dlr['Max_service_dlr_code'] = serv_grp_1_dlr.unique_cust_grp.map(max_dlr_dict)

In [ ]:
print(serv_grp_1_dlr.shape)
print(serv_grp_1_dlr.columns[35:])

In [ ]:
serv_grp_1_dlr.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\serv_dlr_feat_1.dsv', encoding='utf-8', index=False)

In [ ]:
serv_grp_1_dlr.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\serv_dlr_feat_1.csv', encoding='utf-8', index=False)

In [ ]:
cust_grp_1.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\cust_grp_1.csv', encoding='utf-8', index=False)

In [ ]:
cust_grp_noused.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\cust_grp_noused.csv', encoding='utf-8', index=False)

In [ ]:
serv_noused_test2.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\serv_noused_test2.csv', encoding='utf-8', index=False)

**Service marketing campaigns feature extraction**

In [ ]:
# Original Code
target_cust_grp = pd.read_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\Cust_grp_master_final_1.csv', low_memory=False)

In [ ]:
# Test code
target_cust_grp = cust_grp.copy()

In [ ]:
print(target_cust_grp.shape)
print(target_cust_grp.columns)
target_cust_grp.head(3)

In [ ]:
camp_data = pd.read_csv('serv_marketing_data.csv') #Camp data with camp counts across uniques cust grp

In [ ]:
print(camp_data.shape)
print(camp_data.columns)
camp_data.head(3)

In [ ]:
target_cust_grp.unique_cust_grp = target_cust_grp.unique_cust_grp.apply(str)

In [ ]:
test = pd.merge(target_cust_grp, camp_data, left_on ="repm_vin",  right_on= "RO_VIN", indicator= True, how= "outer")
test['_merge'].value_counts()

In [ ]:
#testing 
camp_data = test[test["_merge"]=="both"]
print(camp_data.shape)
print(camp_data.columns)
camp_data.head(3)

In [ ]:
camp_data['unique_cust_grp'] = camp_data['unique_cust_grp'].apply(str)

In [ ]:
target_cust_grp["Target_final"]= target_cust_grp["Target"]
test_0 = target_cust_grp[target_cust_grp.Target_final==0].unique_cust_grp.unique().tolist() #Create dict to map target values to camp data

In [ ]:
camp_data['Target_binary'] = np.where(camp_data['unique_cust_grp'].isin(test_0), 0, 1) #map target values to camp data

In [ ]:
#Data pre-processing
camp_data_dedup = camp_data.drop_duplicates(subset=['CREATED', 'CON_PER_ID', 'CAMP_CON_NUM', 'CAMP_LD_WAVE_ID','MSG_BNCD_REASON_CD', 'MSG_BNCD_STAT_CD', 'STAT_CD'])

In [ ]:
camp_data_dedup.shape

In [ ]:
camp_data_dedup['stat_cd'] = camp_data_dedup['STAT_CD'].fillna('NA')

In [ ]:
camp_data_dedup = camp_data_dedup[['ROW_ID', 'unique_cust_grp', 'repm_vin', 'STAT_CD', 'CREATED']]

In [ ]:
camp_data_feat = camp_data_dedup.groupby(['unique_cust_grp']).agg({'ROW_ID': pd.Series.nunique,'repm_vin': pd.Series.nunique}).reset_index() # Total camp count

In [ ]:
#Feature extraction test
feat_1 = camp_data_dedup[camp_data_dedup.STAT_CD =='Bounced'].groupby(['unique_cust_grp']).agg({'ROW_ID': pd.Series.nunique}).reset_index().rename(
    columns={'ROW_ID': 'Bounced_count'}) #Bounced email count
print(feat_1.shape)
print(feat_1.columns)
feat_1.head(2)

In [ ]:
feat_2 = camp_data_dedup[camp_data_dedup.STAT_CD=='NA'].groupby(['unique_cust_grp']).agg({'ROW_ID': pd.Series.nunique}).reset_index().rename(
    columns={'row_id': 'NA_count'}) #Email count with no status
print(feat_2.shape)
print(feat_2.columns)
feat_2.head(2)

In [ ]:
feat_3 = camp_data_dedup[camp_data_dedup.STAT_CD=='Sent'].groupby(['unique_cust_grp']).agg({'ROW_ID': pd.Series.nunique}).reset_index().rename(
    columns={'row_id': 'Sent'}) #Sent email count
print(feat_3.shape)
print(feat_3.columns)
feat_3.head(2)

In [ ]:
# Merge sent, bounced and NA camp count to the main data
camp_data_feat = pd.merge(camp_data_feat, feat_1, on=['unique_cust_grp'], how='left').merge(
    feat_2, on=['unique_cust_grp'], how='left').merge(feat_3, on=['unique_cust_grp'], how='left')

In [ ]:
print(camp_data_feat.shape)
print(camp_data_feat.columns)
camp_data_feat.head(2)

In [ ]:
# Merge with target values
camp_data_feat = camp_data_feat.fillna(0)
camp_data_feat['Target_binary'] = np.where(camp_data_feat['unique_cust_grp'].isin(test_0), 0, 1)

In [ ]:
camp_data_feat.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\camp_data_feature_ext.dsv', encoding='utf-8', index=False)

In [ ]:
camp_data_feat.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\camp_data_feature_ext.csv', encoding='utf-8', index=False)

In [ ]:
serv_feat_noused_1.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\serv_feat_noused_1.dsv', encoding='utf-8', index=False)

In [ ]:
serv_rv_feat.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\rv_feat_noused_1.dsv', index=False, encoding='utf-8')

In [ ]:
serv_grp_1_dlr.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\serv_dlr_feat_1.dsv', encoding='utf-8', index=False)

In [ ]:
camp_data_feat.head()

In [ ]:
camp_data_feat.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\camp_data.dsv', encoding='utf-8', index=False)

**Combining split feature files**

In [ ]:
import glob
#Combine service features
path = r'C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final' # use your path
all_files = glob.glob(path + "/*.dsv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)
rfrl_serv_data = pd.concat(li)

In [ ]:
print(rfrl_serv_data.shape)
print(rfrl_serv_data.columns)
rfrl_serv_data.head(3)

In [ ]:
#drop highly correlated features
corr_serv = rfrl_serv_data.corr().abs()
upper = corr_serv.where(np.triu(np.ones(corr_serv.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]
rfrl_serv_data_red = rfrl_serv_data.drop(rfrl_serv_data[to_drop], axis=1)

In [ ]:
print(rfrl_serv_data_red.shape)
print(rfrl_serv_data_red.columns)
rfrl_serv_data_red.head(3)

In [ ]:
#Combine dealer features
path = r'C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\' # use your path
all_files = glob.glob(path + "/*.dsv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)
dlr_feat = pd.concat(li)

In [ ]:
print(dlr_feat.shape)
print(dlr_feat.columns)
dlr_feat.head(3)

In [ ]:
#Drop correlated features
corr_serv = dlr_feat.corr().abs()
upper = corr_serv.where(np.triu(np.ones(corr_serv.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
dlr_feat_red = dlr_feat.drop(dlr_feat[to_drop], axis=1)

In [ ]:
print(dlr_feat_red.shape)
print(dlr_feat_red.columns)
dlr_feat_red.head(3)

In [ ]:
#Combine repeat visit features
path = r'C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\' # use your path
all_files = glob.glob(path + "/*.dsv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)
rv_feat = pd.concat(li)

In [ ]:
print(rv_feat.shape)
print(rv_feat.columns)
rv_feat.head(3)

In [ ]:
#Drop correlated features
corr_serv = rv_feat.corr().abs()
upper = corr_serv.where(np.triu(np.ones(corr_serv.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
rv_feat_red = rv_feat.drop(rv_feat[to_drop], axis=1)

In [ ]:
print(rv_feat_red.shape)
print(rv_feat_red.columns)
rv_feat_red.head(3)

In [ ]:
rfrl_serv_data_red_new_1 = pd.merge(rfrl_serv_data_red, rv_feat_red, how='inner', on=['unique_cust_grp'])
rfrl_serv_data_red_new_1.shape

In [ ]:
rfrl_serv_data_red_new_2 = pd.merge(rfrl_serv_data_red_new_1, dlr_feat_red, how='inner', on=['unique_cust_grp'])
rfrl_serv_data_red_new_2.shape

In [ ]:
camp_data_feat1 = camp_data_feat.copy()
camp_data_feat1['used'] = np.where(((camp_data_feat['unique_cust_grp'].astype(str).str.contains('_used'))), True, False)

In [ ]:
print(camp_data_feat1.shape)
camp_data_feat1.used.sum()

In [ ]:
camp_data_feat1.head()

In [ ]:
camp_data_feat1.columns

In [ ]:
camp_data_feat2 = camp_data_feat1[camp_data_feat1['used']==False][['unique_cust_grp', 'ROW_ID_x', 'repm_vin', 'ROW_ID_y', 'ROW_ID_x',
       'ROW_ID_y', 'Target_binary', 'used']]
print(camp_data_feat2.shape)
print(camp_data_feat2.columns)
camp_data_feat2.head()

In [ ]:
camp_data_feat2["unique_cust_grp"] = camp_data_feat2["unique_cust_grp"].astype(float)

In [ ]:
camp_data_feat2 = camp_data_feat2[['unique_cust_grp', 'ROW_ID_x', 'ROW_ID_x', 'repm_vin', 'ROW_ID_y',
       'ROW_ID_y', 'ROW_ID_x', 'ROW_ID_x', 'ROW_ID_y', 'ROW_ID_y',
       'Target_binary']]

In [ ]:
rfrl_serv_data_red_new_4 = pd.merge(rfrl_serv_data_red_new_2, camp_data_feat2, how='left', on=['unique_cust_grp'])
rfrl_serv_data_red_new_4.shape

In [ ]:
print(rfrl_serv_data_red_new_4.shape)
display(rfrl_serv_data_red_new_4.columns)
rfrl_serv_data_red_new_4.head()

In [ ]:
rfrl_serv_data_red_new_4.to_csv('C:\\Users\\274828\\Data Analysis\\service_ref\\Data_preprocessing_FE\\1yr Data Final\\rfrl_serv_data_red_new.dsv', encoding='utf-8', index=False)

In [ ]:
cust_grp.head()

In [ ]:
cust_grp[["repm_vin","used_vin","unique_cust_grp"]].to_csv("used_vin.csv")